<div class="jumbotron" style="margin-bottom:10px">
    <div class="container">
        <h1>Venues</h1>
    </div>
</div>
<div class="container" style="padding-top:20px">
    <div class="row" ng-if="venues">
        <div class="col-md-3 hidden-print visible-lg-block visible-md-block">
            <div data-offset-top="-95" bs-affix>
                <distance-calculator></distance-calculator>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row" ng-repeat="(hostId, host) in venueHosts">
                <hr ng-if="! $first" />
                <div class="col-sm-8">
                    <a class="btn btn-default btn-sm pull-right hidden-print" style="margin: 0 6px 0 10px" href="https://www.google.com/maps/dir/?api=1&destination={{host.name}}, {{host.address.join(', ')}}" target="_blank" analytics-on analytics-event="Click" analytics-category="Venues" analytics-label="Host Directions">Directions</a>
                    <h3 style="margin-top:0">
                        <a href="/map/host/{{host.slug}}" class="hidden-print">{{host.name}}</a>
                        <span class="visible-print-inline">{{host.name}}</span>
                    </h3>
                    <p>{{host.address.join(', ')}}</p>
                    <div class="row" ng-repeat="venueId in ::getHostVenues(hostId)" ng-init="venue=venues[venueId]" style="margin:0" ng-style="! $last && {borderBottom: '1px solid #ddd'}">
                        <div class="col-xs-7" style="padding: 8px 5px 5px;">
                            <span class="visible-md-inline visible-lg-inline label label-venue-default label-venue-{{venueId}}" style="font-size: 0.9em">{{venue.name}}</span>
                            <span class="hidden-md hidden-lg">{{venue.name}}</span>
                        </div>
                        <div class="col-xs-5 text-right hidden-print" style="padding:5px">
                            <a class="btn btn-default btn-sm" ng-href="/shows/venue/{{venue.slug}}" analytics-on analytics-event="Click" analytics-category="Venues" analytics-label="Shows">Shows</a>
                            <a class="btn btn-default btn-sm" ng-href="/map/venue/{{venue.slug}}" analytics-on analytics-event="Click" analytics-category="Venues" analytics-label="Map">Map</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 hidden-xs">
                    <a href="/map/host/{{host.slug}}" analytics-on analytics-event="Click" analytics-category="Venues" analytics-label="Map Image">
                        <static-map size="'336x252'" markers="host.mapPos && host.mapPos.join() || host.address.join(', ')" style="width:100%"></static-map>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>