<div class="jumbotron">
    <div class="container">
        <h1>Schedule</h1>
    </div>
</div>
<div class="container">
    <div class="row" ng-if="loaded">
        <div class="col-md-3 hidden-print" style="padding-top: 3px">
            <div data-offset-top="-95" bs-affix class="hidden-xs hidden-sm">
                <full-smart-toggle></full-smart-toggle>
                <month-day-picker days="days" model="filter.currentDay"></month-day-picker>
            </div>
            <div class="hidden-md hidden-lg" style="margin-bottom: 10px">
                <full-smart-toggle></full-smart-toggle>
            </div>
        </div>
        <div class="col-md-9" infinite-scroll="addMoreItems()" infinite-scroll-distance="1.5">
            <div class="visible-sm-block" ng-show="dataLoaded" style="margin-bottom:10px">
                <div style="max-width: 50vw; margin: auto">
                    <month-day-picker days="days" model="filter.currentDay"></month-day-picker>
                </div>
            </div>
            <div class="visible-xs-block" ng-show="dataLoaded" style="margin-bottom:10px">
                <div style="max-width: 100vh; margin: auto">
                    <month-day-picker days="days" model="filter.currentDay"></month-day-picker>
                </div>
            </div>
            <div>
                <div class="page-header" style="margin:0">
                    <h1 style="margin:0 0 20px">
                        <span class="hidden-xs">{{moment(filter.currentDay, 'X').format('dddd, MMMM D')}}</span>
                        <span class="visible-xs-inline">{{moment(filter.currentDay, 'X').format('ddd, MMM D')}}</span>
                        <small ng-show="dataLoaded"><ng-pluralize count="schedule.length" when="plurals.show"></ng-pluralize></small>
                    </h1>
                </div>
            </div>
            <div class="row text-center" style="margin:100px 0" ng-if="!schedule.length">
                <p class="lead text-center">No shows to display for this day.</p>
                <p><button class="btn btn-sm" ng-click="settings.scheduleMode='full'">Switch to Full Schedule</button></p>
            </div>
            <div class="row text-center" style="margin:100px 0" ng-if="!dataLoaded">
                <p class="lead text-center">Loading...</p>
            </div>
            <div>
                <table class="table table-striped" ng-show="schedule.length && dataLoaded">
                    <thead>
                    <tr>
                        <th>Time</th>
                        <th>Show</th>
                        <th ng-if="signedIn" class="hidden-xs">Interest</th>
                        <th ng-if="signedIn" class="hidden-xs" width="195">Going?</th>
                        <th ng-if="! signedIn" class="hidden-print hidden-xs"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="entry in displayedSchedule track by entry.id">
                        <td nowrap>
                            {{::moment(entry.performance.start, 'X').format('h:mma')}}
                            <div class="visible-xs-block text-center" style="margin-top: 15px" ng-if="online && ! entry.inPast">
                                <performance-ticket-button store-id="::entry.performance.storeId" analytics-on analytics-category="Schedule"></performance-ticket-button>
                            </div>
                        </td>
                        <td>
                            <p class="h4" style="margin:0 0 12px;">
                                <a class="hidden-print" href="/show/{{::entry.show.slug}}">{{::entry.show.name}}</a>
                                <span class="visible-print-inline">{{::entry.show.name}}</span>
                            </p>
                            <div class="visible-xs-block" ng-if="::signedIn" style="margin: 5px 0">
                                <interest show-id="entry.showId"></interest>
                            </div>
                            <ul class="list-inline list-inline-bullets text-muted small" style="margin-bottom: 0">
                                <li>{{::entry.venue.name}}</li>
                                <li>{{::entry.rating}}</li>
                                <li>{{::entry.show.price|price}}</li>
                                <li>{{::entry.minutes}} minutes</li>
                            </ul>
                            <div class="visible-xs-block small" ng-if="::signedIn" style="margin-top: 10px">
                                <attending-buttons></attending-buttons>
                            </div>
                        </td>
                        <td nowrap class="align-middle hidden-xs" ng-if="::signedIn">
                            <interest show-id="entry.showId"></interest>
                        </td>
                        <td nowrap class="align-middle hidden-xs" ng-if="::signedIn">
                            <attending-buttons></attending-buttons>
                        </td>
                        <td ng-if="::! signedIn" class="align-middle hidden-xs">
                            <performance-ticket-button store-id="::entry.performance.storeId" analytics-on analytics-category="Schedule"></performance-ticket-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>