RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.fringeomatic\.com [NC]
RewriteRule ^(.*)$ http://fringeomatic.com/$1 [L,R=301]

RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
RewriteRule ^ - [L]

RewriteRule ^ /

AuthUserFile /home/fringe15/.htpasswd
AuthType Basic
AuthName "Username is 'fringe'"
Require valid-user
