<script type="text/ng-template" id="app/about/about.html">
<div class=jumbotron>
<div class=container>
<h1>About</h1>
</div>
</div>
<div class=container>
<h3>Notice</h3>
<p>This tool is not affiliated with the Orlando Fringe, its brought to you for free by an Orlando Fringe fanatic!</p>
<h3>Credits</h3>
<ul>
<li><a href=http://getbootstrap.com/ target=_blank>Bootstrap</a> - makes designing websites easy</li>
<li><a href=https://angularjs.org/ target=_blank>AngularJS</a> - makes adding functionality easy</li>
<li><a href=http://mgcrea.github.io/angular-strap target=_blank>AngularStrap</a> - makes Bootstrap components with with AngularJS<br>
<em class=small>(Affix, Button, Select, Tooltip)</em></li>
<li><a href=https://angular-ui.github.io/bootstrap/ target=_blank>UI Bootstrap</a> - has useful easy-to-use components<br>
<em class=small>(Modal, Pagination, Pager, Progressbar)</em></li>
<li><a href=https://github.com/anglibs/angular-location-update target=_blank>angular-location-update</a> - used to get the My Fringe tabs working with the router</li>
<li><a href=https://github.com/subprotocol/genetic-js target=_blank>Genetic.js</a> - a nice genetic algorithm library which powers the Auto-Scheduler<br>
<em class=small>(heavily optimized)</em></li>
<li><a href=https://github.com/nbubna/store target=_blank>Store2</a> - an easy way to use local storage</li>
<li><a href=https://ngmap.github.io/ target=_blank>ngMap</a> - a nice Angular wrapper for the Google Maps API.</li>
<li>Ticket icons made by <a href=https://www.flaticon.com/authors/daniel-bruce target=_blank>Daniel Bruce</a></li>
</ul>
</div>
</script>
<script type="text/ng-template" id="app/help/help.html">
<div class=jumbotron>
<div class=container>
<h1>Help</h1>
</div>
</div>
<div class=container>
<h3>Current User Data</h3>
<pre class=well style=word-wrap:break-word;overflow-wrap:break-word;white-space:initial>{{userData}}</pre>
<h3>Set User Data</h3>
<p>
<button class="btn btn-primary" ng-repeat="(name, data) in testData" ng-click=import(data) style=margin-right:5px>{{name}}</button>
</p>
</div>
</script>
<script type="text/ng-template" id="app/test/test.html">
<div class=jumbotron>
<div class=container>
<h1>Test</h1>
</div>
</div>
<div class=container>
</div>
</script>
<script type="text/ng-template" id="app/venues/venues.html">
<div class=jumbotron style=margin-bottom:10px>
<div class=container>
<h1>Venues</h1>
</div>
</div>
<div class=container style=padding-top:20px>
<div class=row ng-if=venues>
<div class=col-md-3>
<div class="panel panel-primary" data-offset-top=-80 bs-affix>
<div class=panel-heading>
<h3 class=panel-title>Distance Calculator</h3>
</div>
<div class=panel-body>
<div class=form-group>
<label>From</label>
<select class=form-control ng-options="item as item.label for item in venueOptions" ng-model=distanceCalc.from></select>
</div>
<div class=form-group>
<label>To</label>
<select class=form-control ng-options="item as item.label for item in venueOptions" ng-model=distanceCalc.to></select>
</div>
<p>
<strong>Distance:</strong>
<span ng-show="distanceCalc.from==distanceCalc.to">No time at all!</span>
<span ng-show="distanceCalc.from!=distanceCalc.to && venues[distanceCalc.from.value].host==venues[distanceCalc.to.value].host">
These venues are at the same location...so a minute, maybe?
</span>
<span ng-show="venues[distanceCalc.from.value].host!=venues[distanceCalc.to.value].host">
{{distances[distanceCalc.from.value][distanceCalc.to.value] / 60}} minutes
</span>
</p>
<p ng-if="venues[distanceCalc.from.value].host!=venues[distanceCalc.to.value].host">
<strong>Drive or walk?</strong>
<span ng-show="distanceCalc.driving=='assumed'">Drive</span>
<span ng-show="distanceCalc.driving=='recommended'">Drive</span>
<span ng-show="distanceCalc.driving=='possible'">Either</span>
<span ng-show="distanceCalc.driving==''">Walk</span>
</p>
<p ng-show="distanceCalc.driving!=''">
<a class="btn btn-default btn-sm pull-right" style=margin-right:6px href="https://www.google.com/maps/dir/?api=1&origin={{venueHosts[venues[distanceCalc.from.value].host].name}}, {{venueHosts[venues[distanceCalc.from.value].host].address.join(', ')}}&destination={{venueHosts[venues[distanceCalc.to.value].host].name}}, {{venueHosts[venues[distanceCalc.to.value].host].address.join(', ')}}&travelmode={{(distanceCalc.driving=='possible') ? 'walking' : 'driving'}}" target=_blank>Get Directions</a>
</p>
</div>
</div>
</div>
<div class=col-md-9>
<div class=row ng-repeat="(hostId, host) in venueHosts">
<hr ng-if="! $first">
<div class=col-md-8>
<a class="btn btn-default btn-sm pull-right" style="margin:0 6px 0 10px" href="https://www.google.com/maps/dir/?api=1&destination={{host.name}}, {{host.address.join(', ')}}" target=_blank>Directions</a>
<h3 style=margin-top:0>{{host.name}}</h3>
<p>{{host.address.join(', ')}}</p>
<table class="table table-condensed">
<tr ng-repeat="venueId in ::getHostVenues(hostId)" ng-init="venue=venues[venueId]">
<td style=padding-top:9px ng-style="{borderBottom: $last ? '1px solid #ddd' : 0, borderTop: $first ? 0 : '1px solid #ddd'}">
<span class="label label-venue-default label-venue-{{venueId}}" style=font-size:.9em>{{venue.name}}</span>
</td>
<td class=text-right style=vertical-align:middle ng-style="{borderBottom: $last ? '1px solid #ddd' : 0, borderTop: $first ? 0 : '1px solid #ddd'}">
<a class="btn btn-default btn-sm" ng-href=#!/shows/venue/{{venueId}}>Shows</a>
<a class="btn btn-default btn-sm" ng-href=#!/map/venue/{{venueId}}>Map</a>
</td>
</tr>
</table>
</div>
<div class=col-md-4>
<a href=#!/map/host/{{hostId}}>
<static-map size="'336x252'" markers="host.mapPos && host.mapPos.join() || host.address.join(', ')" style=width:100%></static-map>
</a>
</div>
</div>
</div>
</div>
</div>
</script>
<script type="text/ng-template" id="app/shows/shows.html">
<div class=jumbotron style=margin-bottom:10px>
<div class=container>
<h1>Shows</h1>
</div>
</div>
<div data-offset-top=-51 bs-affix style=z-index:10000;background:#fff>
<div class=container style=padding-top:20px>
<nav class="navbar navbar-default" style=margin-bottom:0>
<form class="navbar-form navbar-left">
<button type=button class="btn btn-default" ng-model=selectedVenue bs-options="o.value as o.label for o in venueOptions" bs-on-select=refresh bs-select data-sort=false></button>
<button type=button class="btn btn-default" ng-model=selectedRating bs-options="o.value as o.label for o in ratingOptions" bs-on-select=refresh bs-select data-sort=false></button>
<button type=button class="btn btn-default" ng-model=selectedPrice bs-options="o.value as o.label for o in priceOptions" bs-on-select=refresh bs-select data-sort=false></button>
<button type=button class="btn btn-default" ng-model=selectedOther bs-options="o.value as o.label for o in otherOptions" bs-on-select=refresh bs-select data-sort=false></button>
<div class="form-group has-feedback">
<input class=form-control placeholder=Search ng-model=search ng-change=searchTextEntered()>
<span class="glyphicon glyphicon-remove form-control-feedback pointer text-muted" ng-show=searchText ng-click=clearSearch()></span>
</div>
</form>
<div class="collapse navbar-collapse">
<ul class="nav navbar-right" ng-show="allShows.length > perPage">
<li>
<ul uib-pagination total-items=allShows.length ng-model=currentPage items-per-page=perPage rotate=true max-size=5 force-ellipses=true previous-text=&lsaquo; next-text=&rsaquo; style="margin:8px 15px 0" ng-change=scroll()></ul>
</li>
</ul>
<p class="navbar-text navbar-right"><ng-pluralize count=allShows.length when=plurals.show></ng-pluralize></p>
</div>
</nav>
</div>
</div>
<div scroll-y-model=pixelsScrolled class=container ng-style="{marginTop: pixelsScrolled > 204 ? '112px' : '30px'}">
<div class="row text-center" style=margin-top:100px ng-if="allShows.length === 0">
<p class=lead>No matching shows</p>
<p><button class="btn btn-sm" ng-click="resetFilters() && buildData()">Clear Filters</button></p>
</div>
<div class=row ng-repeat="showId in allShows | startFrom:(currentPage-1)*perPage | limitTo:perPage" ng-init="show=shows[showId]">
<hr ng-if="! $first">
<div class=col-md-2>
<img ng-src=img/show/{{show.image}} style=width:100% ng-if=show.image>
</div>
<div class=col-md-8>
<div class=h4 style=margin-top:0;margin-bottom:10px><strong ng-bind-html=show.name|highlight:searchText></strong></div>
<p ng-if=show.artist>
<em>
by <strong ng-bind-html=show.artist|highlight:searchText></strong><span ng-if=show.artistLocation>, {{show.artistLocation}}</span>
</em>
</p>
<p style=margin-top:20px ng-bind-html=show.description|highlight:searchText></p>
<p ng-if=show.warnings><br><em class=small>Note: {{show.warnings.join(', ')}}</em></p>
<p style="margin:20px 0 0">
<span class="label label-venue-default label-venue-{{show.venue}}">{{venues[show.venue].name}}</span>
<show-rating value=ratings[show.rating]></show-rating>
<span class="label label-success">{{show.price|price}}</span>
</p>
</div>
<div class=col-md-2>
<strong class=small>Interest:</strong>
<div class=lead>
<interest show-id=showId></interest>
</div>
<div class=small ng-init="firstPerformance = performances[show.performances[0]]">
<p>{{(firstPerformance.stop - firstPerformance.start) / 60}} minutes</p>
<strong><ng-pluralize count=show.performances.length when=plurals.Performance></ng-pluralize>:</strong>
<ul class=list-unstyled>
<li ng-repeat="pId in show.performances | limitTo:allShowPerformances[showId] ? show.performances.length : 10">{{moment(performances[pId].start, 'X').format('MMM D, h:mm a')}} <i ng-if=isUserAttendingPerformance(pId) class="glyphicon glyphicon-check text-success" style=margin-left:5px></i></li>
<li ng-if="! allShowPerformances[showId] && show.performances.length > 10"><a href ng-click=showAllPerformances(showId)>(show all)</a></li>
</ul>
<p><a href="https://orlandofringe.showare.com/eventperformances.asp?evt={{show.storeId}}" target=fringeshop>Buy Tickets <i class="glyphicon glyphicon glyphicon-new-window"></i></a></p>
</div>
</div>
</div>
<div class=text-center style="margin:20px 0 40px">
<ul uib-pagination total-items=allShows.length ng-model=currentPage items-per-page=perPage rotate=true max-size=10 force-ellipses=true previous-text=&lsaquo; next-text=&rsaquo; ng-change=scroll()></ul>
</div>
</div>

</script>
<script type="text/ng-template" id="app/schedule/schedule.html">
<div class=jumbotron>
<div class=container>
<h1>Schedule</h1>
</div>
</div>
<div class=container>
<div class=row ng-if=days>
<div class=col-md-2>
<div data-offset-top=-80 bs-affix>
<div class=btn-group ng-model=settings.scheduleMode bs-radio-group style=width:100%;margin-top:3px>
<label class="btn btn-default" style=width:50% ng-class="settings.scheduleMode=='full' && 'btn-primary'" bs-tooltip="{title: 'Shows full schedule.'}">
<input type=radio value=full> Full
</label>
<label class="btn btn-default" style=width:50% ng-class="settings.scheduleMode=='smart' && 'btn-primary'" bs-tooltip="{title: 'Hides performances you\'re not interested in, can\'t attend, or are seeing at a different time.'}">
<input type=radio value=smart> Smart
</label>
</div>
<br>
<br>
<ul class="nav nav-pills nav-stacked">
<li ng-repeat="(dayId, dayStart) in ::days" ng-class="{active:currentDay - 1 == dayId}">
<a href ng-click=setDay(dayId+1)>{{moment(days[dayId], 'X').format('ddd, MMM Do')}}</a>
</li>
</ul>
</div>
</div>
<div class=col-md-10>
<div>
<div class=page-header style=margin:0>
<h1 style="margin:0 0 20px">
{{moment(days[currentDay-1], 'X').format('dddd, MMMM D')}}
<small><ng-pluralize count=schedule.length when=plurals.show></ng-pluralize></small>
</h1>
</div>
</div>
<div class="row text-center" style="margin:100px 0" ng-if=!schedule.length>
<p class="lead text-center">No shows to display for this day.</p>
<p><button class="btn btn-sm" ng-click="settings.scheduleMode='full'">Switch to Full Schedule</button></p>
</div>
<div inner-height=innerHeight ng-style="{minHeight: (innerHeight-200) + 'px'}">
<table class="table table-striped">
<thead>
<tr>
<th>Time</th>
<th>Show</th>
<th>Interest</th>
<th width=195>Going?</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="entry in schedule">
<td nowrap>
{{::moment(entry.performance.start, 'X').format('h:mm a')}} - {{::moment(entry.performance.stop, 'X').format('h:mm a')}}
</td>
<td>
<p class=h4 style="margin:0 0 10px"><a href=#!/shows/show/{{::entry.showId}}>{{::entry.show.name}}</a></p>
<span class="label label-venue-default label-venue-{{::entry.venueId}}">{{::entry.venue.name}}</span>
<show-rating value=::entry.rating></show-rating>
<span class="label label-success">{{entry.show.price|price}}</span>
</td>
<td nowrap class=align-middle><interest show-id=entry.showId></interest></td>
<td nowrap class=align-middle>
<div ng-if="entry.attendState=='no'" class=btn-group bs-radio-group ng-model=entry.attendState>
<label class="btn btn-danger">
<input type=radio value=no><span class="glyphicon glyphicon-thumbs-down"></span>
</label>
<label class="btn btn-default" ng-click=addMaybe(entry.id) bs-tooltip="{title:'Maybe attending'}">
<input type=radio value=maybe><span class="glyphicon glyphicon-question-sign"></span>
</label>
<label class="btn btn-default" bs-tooltip="{title: ! entry.canAttend ? 'You are unable to attend based on your availability' : (! entry.canBeScheduled ? 'You are attending a different show at this time or don\'t have enough time to travel between venues' : 'Add to schedule')}" ng-click="entry.canBeScheduled && addToSchedule(entry.id)" ng-class="{disabled: !entry.canBeScheduled}">
<input type=radio value=yes ng-disabled=!entry.canBeScheduled><span class="glyphicon glyphicon-thumbs-up"></span>
</label>
</div>
<div ng-if="entry.attendState=='maybe'" class=btn-group bs-radio-group ng-model=entry.attendState>
<label class="btn btn-default" ng-click=removeFromSchedule(entry.id) bs-tooltip="{title: 'Not attending'}">
<input type=radio value=no><span class="glyphicon glyphicon-thumbs-down"></span>
</label>
<label class="btn btn-warning">
<input type=radio value=maybe><span class="glyphicon glyphicon-question-sign"></span>
</label>
<label class="btn btn-default" bs-tooltip="{title: ! entry.canAttend ? 'You are unable to attend based on your availability' : (! entry.canBeScheduled ? 'You are attending a different show at this time or don\'t have enough time to travel between venues' : 'Add to schedule')}" ng-class="{disabled: !entry.canBeScheduled}">
<input type=radio value=yes ng-disabled=!entry.canBeScheduled><span class="glyphicon glyphicon-thumbs-up"></span>
</label>
</div>
<div ng-if="entry.attendState=='yes'" class=btn-group bs-radio-group ng-model=entry.attendState>
<label class="btn btn-default" ng-click=removeFromSchedule(entry.id) bs-tooltip="{title: 'Remove from schedule'}">
<input type=radio value=no><span class="glyphicon glyphicon-thumbs-down"></span>
</label>
<label class="btn btn-default" ng-click=addMaybe(entry.id) bs-tooltip="{title:'Remove from schedule, maybe attending'}">
<input type=radio value=maybe><span class="glyphicon glyphicon-question-sign"></span>
</label>
<label class="btn btn-success">
<input type=radio value=yes><span class="glyphicon glyphicon-thumbs-up"></span>
</label>
</div>
<a href="https://orlandofringe.showare.com/orderticketsarea.asp?p={{entry.performance.storeId}}" target=fringeshop class="btn btn-default" style="padding:6px 8px;margin-left:10px"><img src=img/ticket.png style=width:1.5em bs-tooltip="{title:'Buy Tickets'}"></a>
</td>
</tr>
</tbody>
</table>
<ul uib-pager items-per-page=1 total-items=days.length ng-model=currentDay previous-text="&larr; Previous Day" next-text="Next Day &rarr;" ng-change=setDay(currentDay)></ul>
</div>
</div>
</div>
</div>
</script>
<script type="text/ng-template" id="app/map/map.html">
<div class=jumbotron>
<div class=container>
<h1>Map</h1>
</div>
</div>
<div class=container>
<p class="lead text-center" ng-if="! mapLoaded">Loading map...</p>
<div class=row ng-if=markerGroups ng-style="{visibility: !mapLoaded ? 'hidden' : 'visible'}">
<div class=col-md-3>
<h3>Views</h3>
<ul class=list-unstyled>
<li ng-repeat="view in ::views"><a href ng-click=gotoView(view)>{{view.name}}</a></li>
</ul>
<hr>
<h3 style=margin-bottom:15px>Layers</h3>
<ul class="nav nav-default nav-pills nav-stacked">
<li ng-repeat="group in ::markerGroups" ng-class={active:isGroupVisible[group.id]}>
<a href ng-click=toggleGroup(group.id)>{{group.name}}</a>
</li>
</ul>
</div>
<div class=col-md-9>
<div>
<ng-map ng-style="{height: (innerHeight - 110) + 'px'}" clickable-icons=false fullscreen-control=false max-zoom=20 min-zoom=7 street-view-control=false tilt=0 map-type-control-options="{mapTypeIds: ['roadmap', 'hybrid']}">
<shape name=polygon paths={{lawnPolygon}} stroke-color=#94af72 stroke-opacity=1 stroke-weight=1 fill-color=#cbe6a3 fill-opacity=0.8>
</shape>
<marker position=current-position icon="{url:'img/map/current-location.png', scaledSize:[24, 24]}"></marker>
<div ng-repeat="group in ::markerGroups">
<marker ng-repeat="(markerId, marker) in ::group.markers" id="{{group.id + '-' + markerId}}" position={{::marker.position}} title={{::marker.title}} icon=img/map/{{marker.icon}}.png ng-if=isGroupVisible[group.id] on-click="markerClick(marker, group.id, markerId)"></marker>
</div>
<info-window id=marker-info>
<div ng-non-bindable>
<p class=lead>{{markerWindow.title}}</p>
<address ng-if="markerWindow.location || markerWindow.address">
<strong ng-if=markerWindow.location>{{markerWindow.location}}<br></strong>
<span ng-if=markerWindow.address>
{{markerWindow.address[0]}}<br>
{{markerWindow.address[1]}}
</span>
</address>
<p ng-if=markerWindow.notes>{{markerWindow.notes}}</p>
<p ng-if="markerWindow.venue || markerWindow.address">
<a class="btn btn-default btn-sm" ng-if=markerWindow.venue style=margin-right:6px href=#!/shows/venue/{{markerWindow.venue}}>Shows</a>
<a class="btn btn-default btn-sm" ng-if=markerWindow.address href="https://www.google.com/maps/dir/?api=1&destination={{markerWindow.location}}, {{markerWindow.address.join(', ')}}" target=_blank>Directions</a>
</p>
</div>
</info-window>
</ng-map>
</div>
</div>
</div>
</div>
</script>
<script type="text/ng-template" id="app/myFringe/myFringe.html">
<div>
<div class="jumbotron has-tabs">
<div class=container>
<div class="pull-right col-md-3" style=margin-top:21px bs-tooltip="{title: '(this is just our way of getting you to see more shows!)'}">
<p class=lead style=margin-bottom:5px>Fringe Level: {{statuses[status].name}}</p>
<uib-progress max=maxLevel animate=false style=margin-bottom:2px>
<uib-bar value=level type=success></uib-bar>
<uib-bar value=nextLevelCount class=level-progress></uib-bar>
</uib-progress>
<small class=small ng-if=nextLevelRemaining>
Add <ng-pluralize count=nextLevelRemaining when=plurals.aShow></ng-pluralize> to your schedule to level up!
</small>
</div>
<h1>My Fringe</h1>
<div bs-active-pane=tabs.activeTab bs-tabs>
<div data-title="My Schedule" name="My Schedule" bs-pane></div>
<div data-title="My Availability" name="My Availability" bs-pane></div>
<div data-title=Auto-Scheduler name=Auto-Scheduler bs-pane></div>
</div>
</div>
</div>
<div class=container>
<my-fringe-schedule ng-if="tabs.activeTab == 'My Schedule'"></my-fringe-schedule>
<my-fringe-availability ng-if="tabs.activeTab == 'My Availability'"></my-fringe-availability>
<my-fringe-auto-scheduler ng-if="tabs.activeTab == 'Auto-Scheduler'"></my-fringe-auto-scheduler>
</div>
</div>
</script>
<script type="text/ng-template" id="app/myFringe/schedule/schedule.html">
<div class=row ng-if="! hasSchedule">
<div ng-if="! hasPreferences">
<h1>Welcome!</h1>
</div>
<div ng-if=hasPreferences>
<h1>Your schedule is empty :(</h1>
</div>
</div>
<div class="alert alert-success" ng-if=hasSchedule>
<i class="glyphicon glyphicon-hand-right"></i> Don't forget to buy tickets!
</div>
<table class="table table-striped amazing-schedule" ng-if=hasSchedule>
<tbody ng-repeat="(day, amazingScheduleDay) in amazingSchedule">
<tr class=header>
<th colspan=5>
<h3 class=bg-info>{{moment(day, 'X').format('dddd, MMM D')}}</h3>
</th>
</tr>
<tr>
<th>Start</th>
<th>Stop</th>
<th>Show</th>
<th>Venue</th>
<th></th>
</tr>
<tr ng-repeat="item in amazingScheduleDay" ng-class=item.as>
<td ng-if="item.as=='performance'">{{moment(item.start, 'X').format('h:mm a')}}</td>
<td ng-if="item.as=='performance'">{{moment(item.stop, 'X').format('h:mm a')}}</td>
<td ng-if="item.as=='performance'"><a href=#!/shows/show/{{item.show}}>{{shows[item.show].name}}</a></td>
<td ng-if="item.as=='performance'">
<span class="label label-venue-default label-venue-{{shows[item.show].venue}}">
{{venues[shows[item.show].venue].name}}
</span>

</td>
<td ng-if="item.as=='performance'">
<button class="btn btn-xs btn-danger" ng-click=removeFromSchedule(item.id) bs-tooltip="{title:'Remove'}">
<span class="glyphicon glyphicon-remove"></span>
</button>
</td>
<td ng-if="item.as!=='performance'" colspan=5 ng-class=item.as>{{item.text}}</td>
</tr>
</tbody>
</table>
</script>
<script type="text/ng-template" id="app/myFringe/availability/availability.html">
<div ng-if=availabilitySlots>
<div class="pull-right availability-legend">
<strong>Legend:</strong>
&nbsp;
<span class="availability-block bg-info" bs-tooltip="{title:'You have a show scheduled during this slot.'}">Scheduled</span>
<span class="availability-block bg-success">Available</span>
<span class="availability-block unavailable">Unavailable</span>
</div>
<p>Select the time slots you are available by clicking them. Each slot is an hour.</p>
<p>You can click and drag to select multiple slots at once.</p>
<table class=availability-buffer>
<tr>
<td colspan=3 ng-mouseover=dragStop()></td>
</tr>
<tr>
<td ng-mouseover=dragStop()></td>
<td>
<table class="table table-bordered table-condensed table-bordered availability" ng-mouseup=dragStop() draggable=false>
<thead>
<tr ng-mouseover=dragStop()>
<th class=text-center ng-mouseover=dragStop() ng-repeat="(dayId, x) in ::availabilitySlots" ng-init="dow = moment(dayId, 'X').format('ddd')" ng-class="{'weekend': dow == 'Sat' || dow == 'Sun'}">
{{::dow}}<br>
<span class=lead>{{::moment(dayId, 'X').format('D')}}</span><br>
{{::moment(dayId, 'X').format('MMM')}}
</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="timeId in ::availabilitySlotsAll">
<td ng-repeat="(dayId, daySlots) in ::availabilitySlots" ng-init="start = +dayId + timeId; stop = start + slotSize; empty = daySlots.indexOf(start) == -1; dow = moment(dayId, 'X').format('ddd')" ng-class="::{empty: empty, weekend: dow == 'Sat' || dow == 'Sun'}" ng-mousedown="slotPerformances[start].length ? showPerformances(start, stop, slotPerformances[start]) : dragStart(start)" ng-mouseover="! slotPerformances[start].length && start > 0 && dragOver(start)">
<div class=availability-block ng-class="!empty && (slotPerformances[start].length ? 'bg-info' : (availability[start] ? 'bg-success' : 'unavailable'))" ng-if=::!empty bs-tooltip="!dragging && {title:slotPerformances[start].length ? 'Click to see performances' : moment(start, 'X').format('h:mm a') + ' - ' + moment(stop, 'X').format('h:mm a')}">
{{::moment(start, 'X').format('h a')}}
</div>
</td>
</tr>
</tbody>
</table>
</td>
<td ng-mouseover=dragStop()></td>
</tr>
<tr>
<td colspan=3 ng-mouseover=dragStop()></td>
</tr>
</table>
<div class=availability-buffer ng-mouseover=dragStop()>
<div>
</div>
</div>
</div>
</script>
<script type="text/ng-template" id="app/myFringe/availability/slotPerformancesModal/slotPerformancesModal.html">
<div class=modal-header>
<h3 class=modal-title>
{{moment(slotStart, 'X').format('ddd, MMM Do hh:mma')}} - {{moment(slotStop, 'X').format('hh:mma')}}
</h3>
</div>
<div class=modal-body>
<table class=table>
<thead>
<tr>
<th>Time</th>
<th>Show</th>
<th>Venue</th>
<th></th>
</tr>
</thead>
<tbody>
<tr ng-repeat="performanceId in slotPerformances" ng-init="performance = performances[performanceId]">
<td nowrap>{{moment(performance.start, 'X').format('h:mm a')}} - {{moment(performance.stop, 'X').format('h:mm a')}}</td>
<td><strong><a href=#!/shows/show/{{performance.show}}>{{shows[performance.show].name}}</a></strong></td>
<td>
<span class="label label-venue-default label-venue-{{shows[performance.show].venue}}">
{{venues[shows[performance.show].venue].name}}
</span>
</td>
<td>
<button class="btn btn-xs btn-danger" ng-click=remove(performanceId) bs-tooltip="{title: 'Remove'}">
<span class="glyphicon glyphicon-remove"></span>
</button>
</td>
</tr>
</tbody>
</table>
</div>
<div class=modal-footer>
<button class="btn btn-primary" type=button ng-click=ok()>OK</button>
</div>
</script>
<script type="text/ng-template" id="app/myFringe/autoScheduler/autoScheduler.html">
<div ng-if=!screen>
<h1>Analyzing...</h1>
<div class=progress>
<div class="progress-bar progress-bar-striped active" style=width:100%>
</div>
</div>
</div>
<div ng-if=screen>
<div ng-if="screen == 'intro'">
<h1>Introduction</h1>
<p class=lead>The Auto-Scheduler helps build your schedule automatically. It needs to know two things:</p>
<div class=step>
<div class="step-number bg-primary">1</div>
<div class=step-title>What shows do you want to see?</div>
<div class=step-body>
<p>On the <a href=#!/shows>Shows</a> and <a href=#!/schedule>Schedule</a> screens you can assign an <strong>Interest</strong> to each show using the checkmark icons. They look like this:</p>
<br>
<p>
</p><div ng-repeat="i in [0, 1, 2, 3, 4]" style=width:20%;display:inline-block;text-align:center>
<interest desire=i class=lead></interest><br>
{{interestText[i]}}
</div>
<p></p>
<br>
<p>When the Auto-Scheduler runs, it will fill your schedule with higher interest shows first.</p>
</div>
</div>
<hr>
<div class=step>
<div class="step-number bg-primary">2</div>
<div class=step-title>When are you available?</div>
<div class=step-body>
<p>On the <a href=#!/my-fringe/availability>My Availability</a> tab, you can select which times you are available to see shows.</p>
<p>When the Auto-Scheduler runs, it won't schedule shows for times you aren't available.</p>
</div>
</div>
<hr>
<div class=text-center>
<button class="btn btn-lg btn-primary" ng-click=completeIntro()>Got it!</button>
</div>
</div>
<div ng-if="screen == 'no-interests'">
<h1>Not so fast!</h1>
<p>Before you can use the Auto-Schedule you must select which shows you're interested in.</p>
<p>On the <a href=#!/shows>Shows</a> and <a href=#!/schedule>Schedule</a> screens you can assign an <strong>Interest</strong> to each show using the checkmark icons. They look like this:</p>
<br>
<p>
</p><div ng-repeat="i in [0, 1, 2, 3, 4]" style=width:20%;display:inline-block;text-align:center>
<interest desire=i class=lead></interest><br>
{{interestText[i]}}
</div>
<p></p>
<br>
<p>When the Auto-Scheduler runs, it will fill your schedule with higher interest shows first.</p>
<p>Once you've done that, come back to this screen.</p>
</div>
<div class=row ng-if="screen != 'intro' && screen != 'no-interests'">
<div class=col-md-9>
<div ng-if="screen == 'schedule-full'">
<h1>Your schedule is full!</h1>
<br>
<p>It's not possible to add any more shows to your schedule.</p>
<p ng-if=allDesiredShowsOnSchedule>But, all of the shows you're interested in are on your schedule.</p>
</div>
<div ng-if="screen == 'schedule-complete'">
<h1>Good news!</h1>
<br>
<p>Every show you want to see is on your schedule.</p>
<p>But, there's still room on your schedule for other shows.</p>
</div>
<div ng-if="screen == 'no-possible-desired'">
<h1>There's bad news and there's good news</h1>
<br>
<p><strong>Bad news:</strong> there's no room on your schedule for any more of the shows you're interested in.</p>
<p><strong>Good news:</strong> there's still room on your schedule for other shows.</p>
</div>
<div ng-if="screen == 'instant-add'">
<h1>I found
<ng-pluralize count=instantAddPerformances.length when="instantAddScreenCount == 1 ? plurals.showSome : plurals.showSomeMore"></ng-pluralize>
you can see!</h1>
<br>
<p>These shows can be added to your schedule without impacting your ability to see other shows.</p>
<br>
<table class="table table-striped">
<thead>
<tr>
<th>Date/Time</th>
<th>Show</th>
<th>Interest</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="entry in instantAddPerformances">
<td nowrap>
<strong>{{::moment(entry.performance.start, 'X').format('dddd, MMMM D')}}</strong><br>
{{::moment(entry.performance.start, 'X').format('h:mm a')}} - {{::moment(entry.performance.stop, 'X').format('h:mm a')}}
</td>
<td>
<p class=h4 style="margin:0 0 10px"><a href=#!/shows/show/{{::entry.showId}}>{{::entry.show.name}}</a></p>
<span class="label label-venue-default label-venue-{{::entry.venueId}}">{{::entry.venue.name}}</span>
<show-rating value=::entry.show.rating></show-rating>
<span class="label label-success">{{entry.show.price|price}}</span>
</td>
<td nowrap class=align-middle><interest show-id=entry.showId></interest></td>
</tr>
</tbody>
</table>
<br>
<p><button class="btn btn-primary" ng-click=addInstantAdd()>Add Shows &amp; Continue</button></p>
</div>
<div ng-if="screen == 'generator'">
<h1>It's time to generate!</h1>
<br>
<div class="alert alert-warning">
<i class="glyphicon glyphicon-exclamation-sign"></i>
<strong>Beware!</strong>
Don't use this until you have assigned an Interest to each show you're interested in.
</div>
<p>When you click <strong>Generate Schedule</strong>, I will:</p>
<ul>
<li>try to fit in as many shows that you're interested in as possible</li>
<li>ensure you have enough time to get to every show</li>
<li>prefer to place shows in nearby venues to reduce travel between locations</li>
<li ng-if="showsOnScheduleCount > 0">
not touch the <ng-pluralize count=showsOnScheduleCount when=plurals.show></ng-pluralize> already on your schedule
</li>
</ul>
<br>
<p>You'll have an opportunity to review the schedule before it is saved.</p>
<br>
<p><button class="btn btn-primary" ng-click=generate()>Generate Schedule</button></p>
</div>
<div ng-if="screen == 'done'">
<h1>Done!</h1>
<br>
<p>I've done all I can do for now. Have a look at your schedule to double-check that you're happy with it.</p>
<br>
<br>
<p><a href=#!/my-fringe class="btn btn-primary">View Schedule</a></p>
</div>
</div>
<div class=col-md-3 style=padding-top:25px>
<div class="panel panel-default" data-offset-top=-80 bs-affix>
<div class=panel-heading>
<h3 class=panel-title>Schedule Progress</h3>
</div>
<div class=panel-body>
<div>
<strong>Fullness</strong>
<uib-progressbar class=progress max=availablePerformanceCount value="availablePerformanceCount - possiblePerformanceCount" animate=true type=primary></uib-progressbar>
</div>
<hr>
<div ng-repeat="desire in [4, '3', '2', '1']">
<small>
<interest desire=desire></interest>
<em class=pull-right>{{progressByDesire[desire]}}/{{progressByDesireMax[desire]}}</em>
</small>
<uib-progressbar class=progress ng-style="$last && {marginBottom: 0}" max=progressByDesireMax[desire] value=progressByDesire[desire] animate=true type="{{getProgressType(progressByDesire[desire], progressByDesireMax[desire])}}"></uib-progressbar>
</div>
</div>
</div>
</div>
</div>
</div>
</script>
<script type="text/ng-template" id="app/myFringe/autoScheduler/autoSchedulerModal/autoSchedulerModal.html">
<div ng-if="! proposed">
<div class=modal-header>
<h3 class=modal-title>Generating Schedule...</h3>
</div>
<div class=modal-body>
<p>
<small>
<strong>Progress</strong>
<em class=pull-right>
{{currentGeneration && 'up to ' + moment.duration(timeRemaining).humanize() + ' remaining' || 'calculating...'}}
</em>
</small>
<uib-progressbar class="progress-striped active" max=100 value=progress animate=true type=primary></uib-progressbar>
</p>
<div class=row>
<div class=col-md-3 ng-repeat="desire in ['4', '3', '2', '1']">
<small>
<interest desire=desire></interest>
<em ng-if=userData.settings.displaySchedulerStats>({{desireFitnessPoints[desire]}} points)</em>
<em class=pull-right>{{progressByDesire[desire]}}/{{progressByDesireMax[desire]}}</em>
</small>
<uib-progressbar class=progress max=progressByDesireMax[desire] value=progressByDesire[desire] animate=true type="{{getProgressType(progressByDesire[desire], progressByDesireMax[desire])}}">
</uib-progressbar>
</div>
</div>
<div class=small ng-if=userData.settings.displaySchedulerStats>
<div class=row>
<div class=col-md-3>
<strong>Generation</strong><br>
{{currentGeneration | number}}/{{generationCount | number}}
</div>
<div class=col-md-3><strong>Schedules Tested</strong><br>
{{currentGeneration * populationSize | number}}/{{populationSize * generationCount | number}}
</div>
<div class=col-md-3>
<strong>Current Best</strong><br>
{{bestFitness - bestExtraPoints | number}}/{{idealFitness | number}} (+{{bestExtraPoints}} xp = {{bestFitness | number}})
</div>
<div class=col-md-3>
<strong>Current Worst</strong><br>
{{worstFitness | number}}
</div>
</div>
<br>
<br>
<p>This tool uses a custom <a href=https://en.wikipedia.org/wiki/Genetic_algorithm>genetic algorithm</a> running in a WebWorker to find a schedule.<br>
The population size ({{populationSize|number}}) and number of generations ({{generationCount|number}}) is proportional to the number of shows that need placed.</p>
<p>The crossover rate is {{crossoverRate}} and uses a two-point crossover with parents chosen by rank selection.<br>
The mutation rate is {{mutationRate}} and makes 1 or 2 random changes to a schedule.</p>
<p>Each schedule is scored giving points for every show in the schedule. Higher interest shows get more points.<br>
Extra points (xp) are awarded when adjacent shows are in nearby venues.</p>
</div>
<br>
<p class="alert alert-info" style=margin-bottom:0><i class="glyphicon glyphicon-info-sign"></i>{{infoMessages[currentMessage]}}</p>
</div>
<div class=modal-footer>
<button bs-checkbox class="btn pull-left btn-default" bs-tooltip="{title: 'Stats for nerds'}" data-placement=right ng-model=userData.settings.displaySchedulerStats>
<i class="glyphicon glyphicon-dashboard"></i>
</button>
<button class="btn btn-default" type=button ng-click=restart() ng-disabled="progress === 0 || done">Restart</button>
<button class="btn btn-danger" type=button ng-click=stop() ng-disabled="progress === 0 || done">Stop</button>
</div>
</div>
<div ng-if=proposed ng-init="tabs={activeTab:0}">
<div class=modal-header style=border:0;padding-bottom:0>
<h3 class=modal-title>Review Schedule</h3>
<div class=row style=margin-top:15px>
<div class=col-md-3 ng-repeat="desire in ['4', '3', '2', '1']">
<small>
<interest desire=desire></interest>
<em ng-if="userData.settings.displaySchedulerStats && !proposed">({{desireFitnessPoints[desire]}} points)</em>
<em class=pull-right>{{progressByDesire[desire]}}/{{progressByDesireMax[desire]}}</em>
</small>
<uib-progressbar class=progress max=progressByDesireMax[desire] value=progressByDesire[desire] type="{{getProgressType(progressByDesire[desire], progressByDesireMax[desire])}}">
</uib-progressbar>
</div>
</div>
<div bs-active-pane=tabs.activeTab bs-tabs ng-if="unscheduled.length > 0">
<div data-title="Proposed Schedule" bs-pane></div>
<div data-title="Unscheduled Shows" bs-pane></div>
<div data-title="More Information" bs-pane></div>
</div>
</div>
<div class=modal-body inner-height=innerHeight ng-style="{maxHeight: (innerHeight-295) + 'px'}" style=overflow-y:scroll>
<div ng-show="tabs.activeTab == 0">
<div class="alert alert-success" ng-if=!unscheduled.length>
<strong>Success!</strong>
Every show you want to see is on the schedule.
</div>
<div class="alert alert-warning" ng-if=unscheduled.length>
<strong>Oh no!</strong>
I wasn't able to fit all of the shows you want to see on the schedule.
<a href ng-click="tabs.activeTab=1">Which ones?</a>
<a href ng-click="tabs.activeTab=2">Why?</a>
</div>
<table class=table style=margin-bottom:0>
<thead>
<tr>
<th>Date/Time</th>
<th>Show/Venue</th>
<th>Interest</th>
<th>Accept?</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="pId in sortedPerformances" ng-if="proposed.indexOf(pId) > -1 || isUserAttendingPerformance(pId)" ng-init="performance = performances[pId]">
<td nowrap><strong>{{moment(performance.start, 'X').format('ddd, MMM Do')}}</strong><br>
{{moment(performance.start, 'X').format('h:mm a')}} - {{moment(performance.stop, 'X').format('h:mm a')}}</td>
<td><strong>{{shows[performance.show].name}}</strong><br>
<span class="label label-venue-default label-venue-{{shows[performance.show].venue}}">
{{venues[shows[performance.show].venue].name}}
</span>
</td>
<td nowrap style=vertical-align:middle>
<interest desire=userData.preferences[performance.show]></interest>
</td>
<td ng-if=isUserAttendingPerformance(pId) class=align-middle nowrap bs-tooltip="{title:'Already on your schedule.'}">
<button class="btn disabled">
<span class="glyphicon glyphicon-thumbs-down"></span>
</button>
<button class="btn btn-success disabled">
<span class="glyphicon glyphicon-thumbs-up"></span>
</button>
</td>
<td nowrap ng-if="! isUserAttendingPerformance(pId)" class=align-middle>
<button class=btn ng-class="{'btn-danger': !accept[pId]}" ng-click="accept[pId]=false">
<span class="glyphicon glyphicon-thumbs-down"></span>
</button>
<button class=btn ng-class="{'btn-success': accept[pId]}" ng-click="accept[pId]=true">
<span class="glyphicon glyphicon-thumbs-up"></span>
</button>
</td>
</tr>
</tbody>
</table>
</div>
<div ng-show="tabs.activeTab == 1">
<p class=lead>{{unscheduled.length > 1 ? 'These are the shows' : 'This is the show'}} I couldn't fit on the schedule.</p>
<p>Want <a href ng-click="tabs.activeTab=2">more information</a>?</p>
<table class=table style=margin-bottom:0>
<thead>
<tr>
<th>Show</th>
<th>Desire</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="showId in unscheduled">
<td>{{shows[showId].name}}</td>
<td>
<interest desire=userData.preferences[showId]></interest>
</td>
</tr>
</tbody>
</table>
</div>
<div ng-show="tabs.activeTab == 2">
<p class=lead>So, why can't you find a schedule where I can see every show?</p>
<ol>
<li>Such a schedule may not be possible.</li>
<li>This is actually a very difficult thing for computers to do.</li>
</ol>
<hr>
<p class=lead>What can I do?</p>
<p>You have a few options:</p>
<ol>
<li>You can click <strong>Try Again</strong>.
<ul class=small>
<li>PRO: You may get a better schedule with more shows.</li>
<li>CON: You may get a worse schedule.</li>
</ul>
<br>
</li>
<li>You can hand-pick some show times that you like, reject the rest, and run the generator again.
<ul class=small>
<li>PRO: The size of the problem is reduced making it easier to solve.</li>
<li>CON: You're locked-in to the show times you hand-pick and consequences of that.</li>
</ul>
<br>
</li>
<li>You can accept the schedule.
<ul class=small>
<li>PRO: You have a schedule!</li>
<li>CON: [some annoying life lesson about not always getting what you want]</li>
</ul>
</li>
</ol>
<hr>
<p class=lead>Why is this such a hard problem for computers? [Nerd alert!]</p>
<p>Let's do a simple example, and we'll assume the following:</p>
<ol>
<li>Each show has 6 show times.</li>
<li>You're available to see any show at any time.</li>
<li>We take Interest level and travel time between venues out of the equation.</li>
</ol>
<br>
<p>With that information, we can calculate the number of possible schedules depending on how many shows you want to see:</p>
<div class=row>
<div class=col-md-{{section.w}} ng-repeat="section in examplePowers">
<table class="table table-condensed table-striped">
<thead>
<tr>
<th>Shows</th>
<th>Possible Schedules</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="power in section.p" bs-tooltip="power.i == 25 && {title:'Weird how that\'s the only one that doesn\'t end with a 6!'}">
<th>{{power.i}}</th>
<td>{{power.p}}</td>
</tr>
</tbody>
</table>
</div>
</div>
<p>So, it quickly becomes impractical to look at every possible schedule. This is the type of problem that would be <em>perfect</em> for a <a href=https://en.wikipedia.org/wiki/Quantum_computing target=_blank>Quantum Computer</a>.</p>
<p>The Auto-Scheduler uses a custom <a href=https://en.wikipedia.org/wiki/Genetic_algorithm>Genetic Algorithm</a>. Instead of looking for the best possible schedule, it looks for a really great schedule. If there is a possible combination of show times that would allow you to see every show you want, the algorithm will almost certainly never find it...but it <em>will</em> find something that's really <em>close</em> to an ideal schedule. The longer it runs, the closer it can get.</p>
</div>
</div>
<div class=modal-footer>
<button class="btn btn-primary pull-left" type=button ng-click=start()>Try Again</button>
<button class="btn btn-success" type=button ng-click=save()>Save Schedule</button>
<button class="btn btn-danger" type=button ng-click=close()>Discard Schedule</button>
</div>
</div>

</script>
