<div class="jumbotron">
    <div class="container">
        <h1>Shows</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 hidden-print">
            <div class="hidden-sm hidden-xs">
                <show-filters data-offset-top="-95" bs-affix></show-filters>
            </div>
            <div class="hidden-md hidden-lg panel panel-info">
                <div class="panel-heading" ng-click="showFilters = !showFilters">
                    <i class="pull-right glyphicon" ng-class="showFilters ? 'glyphicon-collapse-down' : 'glyphicon-collapse-up'"></i>
                    Show Filters
                </div>
                <div class="panel-body" ng-class="! showFilters && 'collapse'">
                    <show-filters></show-filters>
                </div>
            </div>
        </div>
        <div class="col-md-9" infinite-scroll="addMoreItems()" infinite-scroll-distance="2">
            <div class="row text-center" style="margin:100px 0" ng-if="! dataLoaded">
                <p class="lead text-center">Loading...</p>
            </div>
            <div class="row text-center" style="margin:100px 0" ng-if="dataLoaded && !displayedShows.length">
                <p class="lead text-center">No matching shows.</p>
                <p><button class="btn btn-sm" ng-click="resetFilters();refresh()">Clear filters</button></p>
            </div>
            <div class="row" ng-repeat="showId in displayedShows" ng-init="show=shows[showId]" style="background:#f9f9f9; margin:0 0 10px 0;" ng-show="displayedShows.length">
                <div class="col-sm-9 col-xs-8" style="padding:15px">
                    <div class="pull-right lead hidden-xs" style="line-height: 1em" ng-if="$parent.$parent.signedIn">
                        <interest show-id="showId"></interest>
                    </div>
                    <div class="hidden-xs">
                        <div style="height:100px">
                            <p class="lead" style="line-height: 1em; margin-bottom:10px">
                                <a class="hidden-print" href="/show/{{::show.slug}}">{{::show.name}}</a>
                                <span class="visible-print-inline">{{::show.name}}</span>
                            </p>
                            <p class="small">
                                <em ng-if="::show.artist">
                                    <strong ng-bind="::show.artist"></strong><span ng-if="::show.artistLocation">, {{::show.artistLocation}}</span>
                                </em>&nbsp;
                            </p>
                        </div>
                        <p style="margin-bottom: 35px" class="hidden-print">
                            <span><a href="/show/{{::show.slug}}" class="btn btn-primary">Learn More</a></span>
                            <span ng-if="::show.storeId"><a href="https://orlandofringe.showare.com/eventperformances.asp?evt={{show.storeId}}" target="fringeshop" class="btn btn-info" style="margin-left: 5px" analytics-on analytics-event="Click" analytics-category="Shows" analytics-label="Buy Tickets">Buy Tickets</a></span>
                        </p>
                    </div>
                    <div class="visible-xs-block">
                        <p class="lead" style="line-height: 1em; margin-bottom:10px">
                            <a class="hidden-print" href="/show/{{::show.slug}}">{{::show.name}}</a>
                            <span class="visible-print-inline">{{::show.name}}</span>
                        </p>
                        <p>
                            <interest show-id="showId"></interest>
                        </p>
                        <p class="hidden-print">
                            <span><a href="/show/{{::show.slug}}" class="btn btn-primary btn-sm">Learn More</a></span>
                            <span ng-if="::show.storeId"><a href="https://orlandofringe.showare.com/eventperformances.asp?evt={{show.storeId}}" target="fringeshop" class="btn btn-info btn-sm" style="margin-left: 5px" analytics-on analytics-event="Click" analytics-category="Shows" analytics-label="Buy Tickets">Buy Tickets</a></span>
                        </p>
                    </div>
                    <p style="margin: 0" class="hidden-xs">
                        <span class="label label-venue-default label-venue-{{show.venue}}">{{venues[show.venue].name}}</span>
                        <show-rating value="::ratings[show.rating]"></show-rating>
                        <span class="small text-muted" style="margin-left:10px">
                            <em>
                                <ng-pluralize count="performanceCounts[showId]" when="plurals[isFringeOngoing ? 'performanceMore' : 'performance']"></ng-pluralize>
                            </em>
                        </span>
                    </p>
                </div>
                <div class="col-sm-3 hidden-xs hidden-print" ng-if="show.image" style="height: 220px; background: url('img/show/{{show.image}}') top; background-size: cover;"></div>
                <div class="col-xs-4 visible-xs-block hidden-print" style="height: 33vw; background: url('img/show/{{show.image}}') top; background-size: cover;"></div>
                <hr class="visible-print-block" />
            </div>
        </div>
    </div>
</div>
