.uib-position-measure {
    display: block !important;
    visibility: hidden !important;
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.uib-position-scrollbar-measure {
    position: absolute !important;
    top: -9999px !important;
    width: 50px !important;
    height: 50px !important;
    overflow: scroll !important;
}

.uib-position-body-scrollbar-measure {
    overflow: scroll !important;
}

.pointer {
    cursor: pointer !important;
    pointer-events: auto !important;
}
.navbar-primary {
    background: #337ab7;
}
.navbar-primary .navbar-brand {
    color: white;
    cursor: default;
}
.navbar-primary .navbar-nav > li > a, .navbar-primary .navbar-text {
    color: rgba(255, 255, 255, 0.7);
}
.navbar-primary .navbar-brand:focus, .navbar-primary .navbar-brand:hover,
.navbar-primary .navbar-nav > li > a:focus, .navbar-primary .navbar-nav > li > a:hover,
.navbar-primary .navbar-text:hover {
    color: white;
    background-color: transparent;
}
.navbar-primary .navbar-nav > .active > a, .navbar-primary .navbar-nav > .active > a:focus, .navbar-primary .navbar-nav > .active > a:hover {
    background-color: #428bca;
    color: white;
}

.availability-block {
    padding: 0px 1px;
    text-align: center;
    margin-bottom: 1px;
    cursor: default;
    border: 1px solid transparent;
}

.availability-block.unavailable {
    border-color: #ddd;
}

.label-venue-default {
    background: #40e0d0;
    background: -webkit-linear-gradient(to right, #40e0d0, #ff8c00, #ff0080);
    background: linear-gradient(to right, #40e0d0, #ff8c00, #ff0080);
}

.label-venue-1 {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #0f9b0f 10%, #000000 30%);
    background: linear-gradient(to top, #0f9b0f 10%, #000000 30%);
}
.label-venue-11 {
    background: black;
}
.label-venue-2 {
    background: #f15922;
}
.label-venue-4 {
    background: #ff69b4;
}
.label-venue-5 {
    background: #c0c0c0;
    background: radial-gradient(ellipse farthest-corner at right bottom, #ada996 0%, #f2f2f2 8%, #dbdbdb 30%, #eaeaea 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #ada996 0%, #f2f2f2 25%, #dbdbdb 62.5%, #eaeaea 100%);
    color: black;
}
.label-venue-6 {
    background: #8b4513;
}
.label-venue-7 {
    background: #ebeb00;
    color: black;
}
.label-venue-8 {
    background: #a2238d;
}
.label-venue-9 {
    background: #0000cd;
}
.label-venue-10 {
    background: #cc0000;
}
.label-venue-12 {
    background: #b8860b;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}
.label-venue-13 {
    background: #7cfc00;
    color: black;
}
.label-venue-14 {
    background: white;
    color: black;
    border: 1px solid black;
}
.rating-icon {
    margin-right: 3px;
}

.level-progress {
    background-color: rgba(92, 184, 92, 0.5);
}

mark {
    padding: .2em 0;
}

.my-fringe .jumbotron {
    padding-bottom: 0;
    border-bottom: 1px solid #ddd;
}
.my-fringe .nav-tabs {
    margin-top: 48px;
    border: 0;
}

.amazing-schedule > tbody > .header {
    background-color: transparent !important;
}

.amazing-schedule > tbody > .header > th {
    padding: 0;
    border-top: 0
}

.amazing-schedule > tbody > .header > th > h3 {
    margin: 40px 0 0 0;
    padding: 8px;
}

.availability-legend .availability-block {
    min-width: 100px;
    display: inline-block;
}

.no-js {
    display: none;
}
body.js .js-required {
    display: initial;
}
