<div ng-if="! proposed">
    <div class="modal-header">
        <h3 class="modal-title">Generating Schedule...</h3>
    </div>
    <div class="modal-body">
        <p>
            <small>
                <strong>Progress</strong>
                <em class="pull-right">
                    {{currentGeneration && 'up to ' + moment.duration(timeRemaining).humanize() + ' remaining' || 'calculating...'}}
                </em>
            </small>
            <uib-progressbar
                    class="progress-striped active"
                    max="idealFitness"
                    value="progress"
                    animate="true"
                    type="primary"></uib-progressbar>
        </p>
        <div class="row">
            <div class="col-md-3" ng-repeat="desire in ['4', '3', '2', '1']">
                <small>
                    <interest desire="desire"></interest>
                    <em ng-if="userData.settings.displaySchedulerStats">({{desireFitnessPoints[desire]}} points)</em>
                    <em class="pull-right">{{progressByDesire[desire]}}/{{progressByDesireMax[desire]}}</em>
                </small>
                <uib-progressbar
                        class="progress"
                        max="progressByDesireMax[desire]"
                        value="progressByDesire[desire]"
                        animate="true"
                        type="{{getProgressType(progressByDesire[desire], progressByDesireMax[desire])}}">
                </uib-progressbar>
            </div>
        </div>
        <div class="small" ng-if="userData.settings.displaySchedulerStats">
            <div class="row">
                <div class="col-md-3">
                    <strong>Generation</strong><br />
                    {{currentGeneration | number}}/{{generationCount | number}}
                </div>
                <div class="col-md-3"><strong>Schedules Tested</strong><br />
                    {{currentGeneration * populationSize | number}}/{{populationSize * generationCount | number}}
                </div>
                <div class="col-md-3">
                    <strong>Current Best</strong><br />
                    {{bestFitness - bestExtraPoints | number}}/{{idealFitness | number}} (+{{bestExtraPoints}} xp = {{bestFitness | number}})
                </div>
                <div class="col-md-3">
                    <strong>Current Worst</strong><br />
                    {{worstFitness | number}}
                </div>
            </div>
            <br />
            <br />
            <p>This tool uses a custom <a href="https://en.wikipedia.org/wiki/Genetic_algorithm">genetic algorithm</a> running in a WebWorker to find a schedule.<br />
                The population size ({{populationSize|number}}) and number of generations ({{generationCount|number}}) is proportional to the number of shows that need placed.</p>
            <p>The crossover rate is {{crossoverRate}} and uses a two-point crossover with parents chosen by rank selection.<br/>
                The mutation rate is {{mutationRate}} and makes 1 or 2 random changes to a schedule.</p>
            <p>Each schedule is scored giving points for every show in the schedule. Higher interest shows get more points.<br />
                Extra points (xp) are awarded when adjacent shows are in nearby venues.</p>
        </div>
        <br />
        <p class="alert alert-info" style="margin-bottom:0"><i class="glyphicon glyphicon-info-sign"></i>{{infoMessages[currentMessage]}}</p>
    </div>
    <div class="modal-footer">
        <button bs-checkbox class="btn pull-left btn-default"
                bs-tooltip="{title: 'Stats for nerds'}" data-placement="right"
                ng-model="userData.settings.displaySchedulerStats"
        >
            <i class="glyphicon glyphicon-dashboard"></i>
        </button>
        <button class="btn btn-default" type="button" ng-click="restart()" ng-disabled="done">Restart</button>
        <button class="btn btn-danger" type="button" ng-click="stop()" ng-disabled="done">Stop</button>
    </div>
</div>



<div ng-if="proposed" ng-init="tabs={activeTab:0}">
    <div class="modal-header" style="border: 0; padding-bottom:0">
        <h3 class="modal-title">Review Schedule</h3>
        <div class="row" style="margin-top:15px">
            <div class="col-md-3" ng-repeat="desire in ['4', '3', '2', '1']">
                <small>
                    <interest desire="desire"></interest>
                    <em ng-if="userData.settings.displaySchedulerStats && !proposed">({{desireFitnessPoints[desire]}} points)</em>
                    <em class="pull-right">{{progressByDesire[desire]}}/{{progressByDesireMax[desire]}}</em>
                </small>
                <uib-progressbar
                        class="progress"
                        max="progressByDesireMax[desire]"
                        value="progressByDesire[desire]"
                        type="{{getProgressType(progressByDesire[desire], progressByDesireMax[desire])}}">
                </uib-progressbar>
            </div>
        </div>
        <div bs-active-pane="tabs.activeTab" bs-tabs>
            <div data-title="Proposed Schedule" bs-pane></div>
            <div data-title="Unable to Schedule" bs-pane></div>
        </div>
    </div>
    <div class="modal-body" inner-height="innerHeight" ng-style="{maxHeight: (innerHeight-295) + 'px'}" style="overflow-y: scroll">
        <div ng-if="tabs.activeTab == 0">
            <p>Here is the schedule I put together for you. To keep this, click <strong>Save</strong> at the bottom of this window. If you want generate another schedule, click <strong>Try Again</strong>.</p>
            <table class="table" style="margin-bottom:0">
                <thead>
                <tr>
                    <th>Date/Time</th>
                    <th>Show/Venue</th>
                    <th>Interest</th>
                    <th>Accept?</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="pId in sortedPerformances"
                    ng-if="proposed.indexOf(pId) > -1 || isUserAttendingPerformance(pId)"
                    ng-init="performance = performances[pId]"
                >
                    <td nowrap="nowrap"><strong>{{moment(performance.start, 'X').format('ddd, MMM Do')}}</strong><br />
                        {{moment(performance.start, 'X').format('h:mm a')}} - {{moment(performance.stop, 'X').format('h:mm a')}}</td>
                    <td><strong>{{shows[performance.show].name}}</strong><br />
                        <span class="label label-venue-default label-venue-{{shows[performance.show].venue}}">
                            {{venues[shows[performance.show].venue].name}}
                        </span>
                    </td>
                    <td nowrap style="vertical-align: middle">
                        <interest desire="userData.preferences[performance.show]"></interest>
                    </td>
                    <td ng-if="isUserAttendingPerformance(pId)" class="align-middle" nowrap bs-tooltip="{title:'Already on your schedule.'}">
                        <button class="btn" disabled>
                            <span class="glyphicon glyphicon-thumbs-down"></span>
                        </button>
                        <button class="btn btn-success" disabled>
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                        </button>
                    </td>
                    <td nowrap ng-if="! isUserAttendingPerformance(pId)" class="align-middle">
                        <button class="btn" ng-class="{'btn-danger': !accept[pId]}" ng-click="accept[pId]=false">
                            <span class="glyphicon glyphicon-thumbs-down"></span>
                        </button>
                        <button class="btn" ng-class="{'btn-success': accept[pId]}" ng-click="accept[pId]=true">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-if="tabs.activeTab == 1">
            <p>I was unable to add the following <ng-pluralize count="unscheduled" when="plurals.show"></ng-pluralize> to the schedule.</p>
            <table class="table" style="margin-bottom:0">
                <thead>
                <tr>
                    <th>Show</th>
                    <th>Desire</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="showId in unscheduled">
                    <td>{{shows[showId].name}}</td>
                    <td>
                        <interest desire="userData.preferences[showId]"></interest>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary pull-left" type="button" ng-click="start()">Try Again</button>
        <button class="btn btn-success" type="button" ng-click="save()">Save Schedule</button>
        <button class="btn btn-danger" type="button" ng-click="close()">Discard Schedule</button>
    </div>
</div>
