<div ng-if="! proposed">
    <div class="modal-header">
        <h3 class="modal-title">Generating Schedule...</h3>
    </div>
    <div class="modal-body">
        <p>
            <small>
                <strong>Progress</strong>
                <em class="pull-right">
                    {{currentGeneration && 'up to ' + moment.duration(timeRemaining).humanize() + ' remaining' || 'calculating...'}}
                </em>
            </small>
            <uib-progressbar
                    class="progress-striped active"
                    max="100"
                    value="progress"
                    animate="true"
                    type="primary"></uib-progressbar>
        </p>
        <div class="row">
            <div class="col-sm-3" ng-repeat="desire in ['4', '3', '2', '1']">
                <small>
                    <interest desire="desire"></interest>
                    <em ng-if="userData.settings.displaySchedulerStats">({{desireFitnessPoints[desire]}} points)</em>
                    <em class="pull-right">{{progressByDesire[desire]}}/{{progressByDesireMax[desire]}}</em>
                </small>
                <uib-progressbar
                        class="progress"
                        max="progressByDesireMax[desire]"
                        value="progressByDesire[desire]"
                        animate="true"
                        type="{{getProgressType(progressByDesire[desire], progressByDesireMax[desire])}}">
                </uib-progressbar>
            </div>
        </div>
        <div class="small hidden-xs" ng-if="userData.settings.displaySchedulerStats">
            <div class="row">
                <div class="col-sm-3">
                    <strong>Generation</strong><br>
                    {{currentGeneration | number}}/{{generationCount | number}}
                </div>
                <div class="col-sm-3"><strong>Schedules Tested</strong><br>
                    {{currentGeneration * populationSize | number}}/{{populationSize * generationCount | number}}
                </div>
                <div class="col-sm-3">
                    <strong>Current Best</strong><br>
                    {{bestFitness - bestExtraPoints | number}}/{{idealFitness | number}} (+{{bestExtraPoints}} xp = {{bestFitness | number}})
                </div>
                <div class="col-sm-3">
                    <strong>Current Worst</strong><br>
                    {{worstFitness | number}}
                </div>
            </div>
            <br>
            <br>
            <p>This tool uses a custom <a href="https://en.wikipedia.org/wiki/Genetic_algorithm">genetic algorithm</a> running in a WebWorker to find a schedule.<br>
                The population size ({{populationSize|number}}) and number of generations ({{generationCount|number}}) is proportional to the number of shows that need placed.</p>
            <p>The crossover rate is {{crossoverRate}} and uses a two-point crossover with parents chosen by rank selection.<br>
                The mutation rate is {{mutationRate}} and makes 1 or 2 random changes to a schedule.</p>
            <p>Each schedule is scored giving points for every show in the schedule. Higher interest shows get more points.<br>
                Extra points (xp) are awarded when adjacent shows are in nearby venues.</p>
        </div>
        <br>
        <p class="alert alert-info" style="margin-bottom:0"><i class="glyphicon glyphicon-info-sign"></i>{{infoMessages[currentMessage]}}</p>
    </div>
    <div class="modal-footer">
        <button bs-checkbox class="btn pull-left btn-default hidden-xs"
                bs-tooltip="{title: 'Stats for nerds'}" data-placement="right"
                ng-model="userData.settings.displaySchedulerStats"
        >
            <i class="glyphicon glyphicon-dashboard"></i>
        </button>
        <button class="btn btn-default" type="button" ng-click="restart()" ng-disabled="progress === 0 || done">Restart</button>
        <button class="btn btn-danger" type="button" ng-click="stop()" ng-disabled="progress === 0 || done">Stop</button>
    </div>
</div>



<div ng-if="proposed" ng-init="tabs={activeTab:0}">
    <div class="modal-header" style="border: 0; padding-bottom:0" offset-height="headerHeight">
        <h3 class="modal-title">Review Schedule</h3>
        <div class="row hidden-xs" style="margin-top:15px">
            <div class="col-sm-3" ng-repeat="desire in ['4', '3', '2', '1']">
                <small>
                    <interest desire="desire"></interest>
                    <em ng-if="userData.settings.displaySchedulerStats && !proposed">({{desireFitnessPoints[desire]}} points)</em>
                    <em class="pull-right">{{progressByDesire[desire]}}/{{progressByDesireMax[desire]}}</em>
                </small>
                <uib-progressbar
                        class="progress"
                        max="progressByDesireMax[desire]"
                        value="progressByDesire[desire]"
                        type="{{getProgressType(progressByDesire[desire], progressByDesireMax[desire])}}">
                </uib-progressbar>
            </div>
        </div>
        <div class="hidden-xs">
            <div bs-active-pane="tabs.activeTab" bs-tabs ng-if="unscheduled.length > 0">
                <div data-title="Proposed Schedule" bs-pane></div>
                <div data-title="Unscheduled Shows" bs-pane></div>
                <div data-title="More Information" bs-pane></div>
            </div>
        </div>
        <div class="visible-xs" style="margin-top: 15px">
            <div bs-active-pane="tabs.activeTab" bs-tabs ng-if="unscheduled.length > 0">
                <div data-title="Schedule" bs-pane></div>
                <div data-title="Unscheduled Shows" bs-pane></div>
            </div>
        </div>
    </div>
    <div class="modal-body" ng-style="{maxHeight: 'calc(100vh - ' + (headerHeight + footerHeight + 25) + 'px)'}" style="overflow-y: scroll">
        <div ng-show="tabs.activeTab == 0">
            <div class="alert alert-success" ng-if="!unscheduled.length">
                <strong>Success!</strong>
                Every show you want to see is on the schedule.
            </div>
            <div class="alert alert-warning" ng-if="unscheduled.length">
                <strong>Oh no!</strong>
                We weren't able to fit all of the shows you want to see on the schedule.
                <a href ng-click="tabs.activeTab=1">Which ones?</a>
                <a href ng-click="tabs.activeTab=2" class="hidden-xs">Why?</a>
            </div>
            <table class="table hidden-xs" style="margin-bottom:0">
                <thead>
                <tr>
                    <th>Date/Time</th>
                    <th>Show/Venue</th>
                    <th>Interest</th>
                    <th>Accept?</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="pId in sortedPerformances"
                    ng-if="proposed.indexOf(pId) > -1 || isUserAttendingPerformance(pId)"
                    ng-init="performance = performances[pId]"
                >
                    <td nowrap>
                        <strong>{{moment(performance.start, 'X').format('ddd, MMM Do')}}</strong><br>
                        {{moment(performance.start, 'X').format('h:mma')}}
                        <span class="hidden-sm"> - {{moment(performance.stop, 'X').format('h:mma')}}</span>
                    </td>
                    <td><strong>{{shows[performance.show].name}}</strong><br>
                        <span class="label label-venue-default label-venue-{{shows[performance.show].venue}}">
                            {{venues[shows[performance.show].venue].name}}
                        </span>
                    </td>
                    <td nowrap style="vertical-align: middle">
                        <interest desire="userData.preferences[performance.show]"></interest>
                    </td>
                    <td ng-if="isUserAttendingPerformance(pId)" class="align-middle" nowrap bs-tooltip="{title:'Already on your schedule.'}">
                        <button class="btn disabled">
                            <span class="glyphicon glyphicon-thumbs-down"></span>
                        </button>
                        <button class="btn btn-success disabled">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                        </button>
                    </td>
                    <td nowrap ng-if="! isUserAttendingPerformance(pId)" class="align-middle">
                        <button class="btn" ng-class="{'btn-danger': !accept[pId]}" ng-click="accept[pId]=false">
                            <span class="glyphicon glyphicon-thumbs-down"></span>
                        </button>
                        <button class="btn" ng-class="{'btn-success': accept[pId]}" ng-click="accept[pId]=true">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table visible-xs" style="margin-bottom:0">
                <thead>
                <tr>
                    <th>Show</th>
                    <th class="text-right">Accept?</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="pId in sortedPerformances"
                    ng-if="proposed.indexOf(pId) > -1 || isUserAttendingPerformance(pId)"
                    ng-init="performance = performances[pId]"
                >
                    <td colspan="2">
                        <div class="pull-right">
                            <div ng-if="isUserAttendingPerformance(pId)" nowrap bs-tooltip="{title:'Already on your schedule.'}">
                                <button class="btn disabled">
                                    <span class="glyphicon glyphicon-thumbs-down"></span>
                                </button>
                                <button class="btn btn-success disabled">
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                </button>
                            </div>
                            <div nowrap ng-if="! isUserAttendingPerformance(pId)">
                                <button class="btn" ng-class="{'btn-danger': !accept[pId]}" ng-click="accept[pId]=false">
                                    <span class="glyphicon glyphicon-thumbs-down"></span>
                                </button>
                                <button class="btn" ng-class="{'btn-success': accept[pId]}" ng-click="accept[pId]=true">
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                </button>
                            </div>
                        </div>
                        <strong>{{shows[performance.show].name}}</strong><br>
                        <p class="small">
                            <strong>{{moment(performance.start, 'X').format('ddd, MMM Do')}}</strong>, {{moment(performance.start, 'X').format('h:mma')}}
                        </p>
                        <p class="small text-muted">
                            <interest desire="userData.preferences[performance.show]"></interest>
                            &middot;
                            {{venues[shows[performance.show].venue].name}}
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-show="tabs.activeTab == 1">
            <p class="lead">{{unscheduled.length > 1 ? 'These are the shows' : 'This is the show'}} that wouldn't fit on your schedule.</p>
            <p class="hidden-xs">Want <a href ng-click="tabs.activeTab=2">more information</a>?</p>
            <table class="table" style="margin-bottom:0">
                <thead>
                <tr>
                    <th>Show</th>
                    <th class="hidden-xs">Desire</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="showId in unscheduled">
                    <td>
                        {{shows[showId].name}}
                        <div class="visible-xs text-muted small">
                            <interest desire="userData.preferences[showId]"></interest>
                        </div>
                    </td>
                    <td nowrap class="hidden-xs">
                        <interest desire="userData.preferences[showId]"></interest>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-show="tabs.activeTab == 2">
            <p class="lead">So, why can't you find a schedule where I can see every show?</p>
            <ol>
                <li>Such a schedule may not be possible.</li>
                <li>This is actually a very difficult thing for computers to do.</li>
            </ol>
            <hr>
            <p class="lead">What can I do?</p>
            <p>You have a few options:</p>
            <ol>
                <li>You can click <strong>Try Again</strong>.
                    <ul class="small">
                        <li>PRO: You may get a better schedule with more shows.</li>
                        <li>CON: You may get a worse schedule.</li>
                    </ul>
                    <br>
                </li>
                <li>You can hand-pick some show times that you like, reject the rest, and run the generator again.
                    <ul class="small">
                        <li>PRO: The size of the problem is reduced making it easier to solve.</li>
                        <li>CON: You're locked-in to the show times you hand-pick and the consequences of that.</li>
                    </ul>
                    <br>
                </li>
                <li>You can accept the schedule.
                    <ul class="small">
                        <li>PRO: You have a schedule!</li>
                        <li>CON: [some annoying life lesson about not always getting what you want]</li>
                    </ul>
                </li>
            </ol>
            <hr>
            <p class="lead">Why is this such a hard problem for computers? [Nerd alert!]</p>
            <p>Let's do a simple example, and we'll assume the following:</p>
            <ol>
                <li>Each show has 6 show times.</li>
                <li>You're available to see any show at any time.</li>
                <li>We take Interest level and travel time between venues out of the equation.</li>
            </ol>
            <br>
            <p>With that information, we can calculate the number of possible schedules for the number of shows you want to see and how long it would take to go through every possibility:</p>
            <div class="row">
                <div class="col-md-{{section.w}}" ng-repeat="section in examplePowers">
                    <table class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>Shows</th>
                                <th>Possible Schedules</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="power in section.p" bs-tooltip="power.i == 25 && {title:'Weird how that\'s the only one that doesn\'t end with a 6!'}">
                            <th>{{power.i}}</th>
                            <td>{{power.p}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <p>As you can see, the number of possible schedules increases rapidly. If you had a super computer which could examine a million schedules per second and you wanted to see 15 shows, it would still take more than 5 days to go through them all.</p>
            <p>And this will blow your mind: if you wanted to see 50 shows and went back in time to the beginning of the universe with a supercomputer that could check <em>a trillion schedules per microsecond</em>, by 2018 it would only be 0.52% complete!</p>
            <p>So, checking every possible schedule would take a little too long and you'd miss Fringe altogether. That's why the Auto-Scheduler uses a custom <a href="https://en.wikipedia.org/wiki/Genetic_algorithm">Genetic Algorithm</a> instead. A genetic algorithm is terrible at finding the best schedule, but its excellent at finding a really good schedule.</p>
            <p>In the end, this is the type of problem that would be <em>perfect</em> for a <a href="https://en.wikipedia.org/wiki/Quantum_computing" target="_blank">Quantum Computer</a>...it could theoretically determine the best schedule almost instantly. But, unless you have a spare quantum computer laying around, you're stuck with this.</p>
        </div>
    </div>
    <div class="modal-footer" offset-height="footerHeight">
        <button class="btn btn-primary pull-left" type="button" ng-click="start()">Try Again</button>
        <button class="btn btn-success" type="button" ng-click="save()">Save<span class="hidden-xs"> Schedule</span></button>
        <button class="btn btn-danger" type="button" ng-click="close()">Discard<span class="hidden-xs"> Schedule</span></button>
    </div>
</div>
