.page-home h1 {
    font-weight: 700;
    color: #428bca;
    margin-bottom: 15px;
    font-size: 63px;
}

.page-home {
    padding-top: 8rem;
}

@media (max-width: 767px) {
    .page-home {
        padding-top: 2rem;
    }
    .page-home {
        font-size: 48px;
    }
}
