<div class="month-day-picker">
    <div ng-repeat="month in ::months">
        <p class="lead">{{::month.header}}</p>
        <table class="table table-condensed table-bordered">
            <thead>
            <tr>
                <th>S</th>
                <th>M</th>
                <th>T</th>
                <th>W</th>
                <th>T</th>
                <th>F</th>
                <th>S</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="week in ::month.weeks">
                    <td
                            ng-repeat="day in ::week.days track by $index"
                            ng-bind="::day.number"
                            ng-class="{allowed: day.allowed, active: model == day.time, today: day.today}"
                            ng-click="day.allowed ? click(day.time) : false"
                    ></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>