<div class="jumbotron" ng-class="{'has-tabs': $parent.signedIn}">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>My Fringe</h1>
                <h2 class="visible-print-inline">{{tabs.activeTab}}</h2>
            </div>
            <div class="col-md-4 hidden-print" bs-tooltip="{title: '(this is just our way of getting you to see more shows!)'}" style="margin-top: 20px">
                <p class="lead" style="margin-bottom: 5px">Fringe Level: {{statuses[status].name}}</p>
                <uib-progress max="maxLevel" animate="false" style="margin-bottom:2px">
                    <uib-bar value="level" type="success"></uib-bar>
                    <uib-bar value="nextLevelCount" class="level-progress"></uib-bar>
                </uib-progress>
                <small class="small" ng-if="nextLevelRemaining">
                    Add <ng-pluralize count="nextLevelRemaining" when="plurals.aShow"></ng-pluralize> to your schedule to level up!
                </small>
            </div>
        </div>
        <div bs-active-pane="tabs.activeTab" bs-tabs ng-if="$parent.signedIn" class="hidden-print">
            <div data-title="Schedule" name="Schedule" bs-pane></div>
            <div data-title="Availability" name="Availability" bs-pane></div>
            <div data-title="Auto-Scheduler" name="Auto-Scheduler" bs-pane></div>
        </div>
    </div>
</div>
<div class="container" ng-if="$parent.signedIn">
    <my-fringe-schedule ng-if="tabs.activeTab == 'Schedule'"></my-fringe-schedule>
    <my-fringe-availability ng-if="tabs.activeTab == 'Availability'"></my-fringe-availability>
    <my-fringe-auto-scheduler ng-if="tabs.activeTab == 'Auto-Scheduler'"></my-fringe-auto-scheduler>
</div>
<div class="container" ng-if="! $parent.signedIn">
    <h1>You need to sign in to use My Fringe.</h1>
    <br />
    <p class="lead">My Fringe can automatically generate a personalized schedule.</p>
    <br />
    <p><a class="btn btn-primary btn-lg hidden-offline" href role="button" ng-click="$parent.$parent.signIn()" analytics-on analytics-event="Click" analytics-category="My Fringe" analytics-label="Sign In">Sounds awesome!</a></p>
</div>