<div ng-if="! hasSchedule">
    <div ng-if="! hasPreferences">
        <h1>Not so fast!</h1>
        <p class="lead">Before you can use this page, you need to select shows that you're interested in.</p>
        <p>On the <a href="/shows">Shows</a> and <a href="/schedule">Schedule</a> screens you can assign an <strong>Interest</strong> to each show using the checkmark icons. They look like this:</p>
        <br />
        <div class="row">
            <div ng-repeat="i in [0, 1, 2, 3, 4]" class="col-md-2 text-center" ng-class="$first && 'col-md-offset-1'">
                <interest desire="i" class="lead"></interest><br />
                {{interestText[i]}}
            </div>
        </div>
        <br />
        <p>Once you've done that, come back to this screen.</p>
    </div>
    <div ng-if="hasPreferences">
        <h1>Your schedule is empty :(</h1>
        <p class="lead">Now that you've selected some shows that you're interested in, it's time to build your schedule.</p>
        <p>The best way to do that is to head over to the Auto-Scheduler.</p>
        <br />
        <p><a href="/my-fringe/auto-scheduler" class="btn btn-primary btn-lg">Go to the Auto-Scheduler</a></p>
        <br />
        <p>Or, you can do this manually on the <a href="/schedule">Schedule</a> screen.</p>
    </div>
</div>
<div class="row" ng-if="hasSchedule && loaded">
    <div class="col-md-3 hidden-print">
        <div data-offset-top="-95" bs-affix>
            <month-day-picker days="days" model="filter.currentDay"></month-day-picker>
            <p class="text-center">
                <button class="btn btn-default btn-sm" ng-disabled="! filter.currentDay" ng-click="filter.currentDay = 0">Show Full Schedule</button>
            </p>
            <br />
            <div class="alert alert-success">
                <i class="glyphicon glyphicon-hand-right"></i> Don't forget to buy tickets!
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="hidden-print">
            <p class="pull-right">
                <button ng-click="openShareModal()" class="btn btn-default"><i class="glyphicon glyphicon-share"></i> Share</button>
                <button onclick="window.print()" class="btn btn-default"><i class="glyphicon glyphicon-print"></i> Print</button>
            </p>
            <p>
                <button ng-click="openGoogleCalendarSyncSetup()" class="btn btn-primary" ng-class="calendarSyncEnabled ? 'btn-primary' : 'btn-success'">{{calendarSyncEnabled ? 'Google Calendar Sync: On' : 'Turn On Google Calendar Sync'}}</button>
            </p>
            <br />
        </div>
        <table class="table table-striped amazing-schedule">
            <tbody ng-repeat="(day, amazingScheduleDay) in amazingSchedule" ng-if="! filter.currentDay || filter.currentDay == day">
            <tr class="header">
                <th colspan="5">
                    <h3 class="bg-info">{{moment(day, 'X').format('dddd, MMM D')}}</h3>
                </th>
            </tr>
            <tr>
                <th>Time</th>
                <th>Show</th>
                <th>Venue</th>
                <th></th>
            </tr>
            <tr ng-repeat="item in amazingScheduleDay" ng-class="item.as">
                <td ng-if="item.as=='performance'" nowrap class="align-middle">{{moment(item.start, 'X').format('h:mm a')}}</td>
                <td ng-if="item.as=='performance'" class="align-middle">
                    <a class="hidden-print" href="/show/{{shows[item.show].slug}}">{{shows[item.show].name}}</a>
                    <span class="visible-print-inline">{{shows[item.show].name}}</span>
                </td>
                <td ng-if="item.as=='performance'" class="align-middle">
                    <span class="label label-venue-default label-venue-{{shows[item.show].venue}}">
                        {{venues[shows[item.show].venue].name}}
                    </span>
                </td>
                <td class="text-right align-middle hidden-print">
                    <a href="https://orlandofringe.showare.com/orderticketsarea.asp?p={{item.storeId}}" target="fringeshop" class="btn btn-default" style="padding: 6px 8px">
                        <img src="img/ticket.svg" style="width:1.5em" bs-tooltip="{title:'Buy Tickets'}">
                    </a>
                </td>
                <!--<td ng-if="item.as=='performance'">-->
                    <!--<button class="btn btn-xs btn-danger" ng-click="removeFromSchedule(item.id)" bs-tooltip="{title:'Remove'}">-->
                        <!--<span class="glyphicon glyphicon-remove"></span>-->
                    <!--</button>-->
                <!--</td>-->
                <td ng-if="item.as!=='performance'" colspan="5" ng-class="item.as">{{item.text}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
