<div class="container">
    <div class="row" style="margin: 30px 0">
        <div class="col-md-7">
            <div class="h3" style="line-height: 1em" ng-if="$parent.$parent.signedIn">
                <interest show-id="showId"></interest>
            </div>
            <h1>{{show.name}}</h1>
            <p ng-if="::show.artist">
                <strong ng-bind="show.artist"></strong><span ng-if="show.artistLocation">, {{show.artistLocation}}</span>
            </p>
            <hr />
            <p class="lead">
                <span class="label label-venue-default label-venue-{{show.venue}}">{{venues[show.venue].name}}</span>
            </p>
            <br />
            <br />
            <p>
                <a href="https://orlandofringe.showare.com/eventperformances.asp?evt={{show.storeId}}" target="fringeshop" class="btn btn-primary btn-lg" ng-if="show.storeId">Buy Tickets</a>
            </p>
        </div>
        <div class="col-md-5" style="height: 450px; background: url('img/show/{{show.image}}') right no-repeat; background-size: contain"></div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-8 lead">
            <div style="margin-top: 10px" ng-bind-html="trustAsHtml(show.description)"></div>
            <p ng-if="show.warnings"><br /><em class="small">Note: {{show.warnings.join(', ')}}</em></p>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <h3 style="margin-top:10px">Notes</h3>
            <p>
                <strong>Length:</strong> {{(firstPerformance.stop - firstPerformance.start) / 60}} minutes<br />
                <strong>Rating:</strong> {{ratings[show.rating]}}<br />
                <strong>Tickets:</strong> {{show.price | price}}
            </p>
            <h3>Show Times</h3>
            <ul class="list-unstyled">
                <li ng-repeat="pId in show.performances" ng-class="{'text-muted': performances[pId].start < now}">
                    {{moment(performances[pId].start, 'X').format('MMM D, h:mma')}}
                    <i ng-if="isUserAttendingPerformance(pId)" class="glyphicon glyphicon-check text-success" style="margin-left:5px"></i>
                </li>
            </ul>
        </div>
    </div>
</div>