<div class="container" ng-if="! loaded">
    <p class="text-center lead" style="margin-top: 100px">Loading...</p>
</div>
<div class="container" ng-if="loaded">
    <div class="row hidden-xs" style="margin-top: 20px; margin-bottom: 20px">
        <div class="col-xs-4">
            <a href="/show/{{previousShow.slug}}" class="btn btn-default">&larr; Previous Show</span></a>
        </div>
        <div class="col-xs-4 text-center">
            <a href="/show/{{randomShow.slug}}" class="btn btn-default">Random Show</span></a>
        </div>
        <div class="col-xs-4 text-right">
            <a href="/show/{{nextShow.slug}}" class="btn btn-default">Next Show</span> &rarr;</a>
        </div>
    </div>
    <div class="row hidden-print" style="margin-bottom: 30px; background: #23074d; background: -webkit-linear-gradient(to right, #23074d, #cc5333); background: linear-gradient(to right, #23074d, #cc5333); color: white" ng-style="hasImage ? {background: backgroundColor, color: textColor} : {}">
        <div ng-if="hasImage" style="float: right; width: 450px; height: 450px; max-height:100vw; background-size: cover" ng-style="{background: '#fff url(\'img/show/{{show.image}}\') center no-repeat'}"></div>
        <div style="padding: 20px 20px 10px; width: 100%" ng-style="hasImage ? {width: 'calc(100% - 450px)'} : {}">
            <div class="h3" style="line-height: 1em; margin-top:0; color: inherit" ng-if="$parent.$parent.signedIn">
                <interest show-id="showId"></interest>
            </div>
            <h1 ng-style="{color: titleColor}" style="margin-top: 50px">{{show.name}}</h1>
            <p ng-if="::show.artist">
                <strong ng-bind="show.artist"></strong><span ng-if="show.artistLocation">, {{show.artistLocation}}</span>
            </p>
            <hr style="border-top: 1px solid {{titleColor}}">
            <p>{{venues[show.venue].name}}</p>
            <br>
            <br>
            <p>
                <a href="{{show.storeUrl}}" target="fringeshop" class="btn btn-lg btn-default" ng-if="show.storeUrl" analytics-on analytics-event="Click" analytics-category="Show" analytics-label="Buy Tickets">Buy Tickets</a>
            </p>
        </div>
    </div>
    <div class="row visible-print-block">
        <div class="col-xs-12">
            <div class="h3" style="line-height: 1em" ng-if="$parent.$parent.signedIn" ng-style="{color: titleColor}">
                <interest show-id="showId"></interest>
            </div>
            <h1>{{show.name}}</h1>
            <p ng-if="::show.artist">
                <strong ng-bind="show.artist"></strong><span ng-if="show.artistLocation">, {{show.artistLocation}}</span>
            </p>
            <hr>
            <p>{{venues[show.venue].name}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-lg-9">
            <p style="margin-top: 10px" class="lead text-justify" ng-bind-html="trustAsHtml(show.description)"></p>
            <br ng-if="show.genres || show.warnings">
            <p ng-if="show.genres"><span ng-repeat="genre in show.genres">{{genres[genre]}}<span ng-if="! $last">, </span></span></p>
            <p ng-if="show.warnings"><em>Note: {{show.warnings}}</em></p>
        </div>
        <div class="col-sm-3 col-lg-2 col-sm-offset-1">
            <h3 style="margin-top:10px">Notes</h3>
            <p>
                <strong>Length:</strong> {{show.duration / 60}} minutes<br>
                <strong>Rating:</strong> {{ratings[show.rating]}}<br>
                <strong>Tickets:</strong> {{show.price | price}}
            </p>
            <h3>Show Times</h3>
            <ul class="list-unstyled">
                <li ng-repeat="pId in show.performances" ng-class="{'text-muted': performances[pId].start < now}">
                    {{moment(performances[pId].start, 'X').format('MMM D, h:mma')}}
                    <i ng-if="isUserAttendingPerformance(pId)" class="glyphicon glyphicon-check text-success" style="margin-left:5px"></i>
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row" style="margin-top: 15px; margin-bottom: 15px">
        <div class="col-xs-4">
            <a href="/show/{{previousShow.slug}}" class="btn btn-default">&larr; Previous<span class="hidden-xs"> Show</span></a>
        </div>
        <div class="col-xs-4 text-center">
            <a href="/show/{{randomShow.slug}}" class="btn btn-default">Random<span class="hidden-xs"> Show</span></a>
        </div>
        <div class="col-xs-4 text-right">
            <a href="/show/{{nextShow.slug}}" class="btn btn-default">Next<span class="hidden-xs"> Show</span> &rarr;</a>
        </div>
    </div>
</div>
<script type="application/ld+json" ng-bind="jsonld|json:true">
</script>
