<div class="container" ng-if="! loaded">
    <p class="text-center lead" style="margin-top: 100px">Loading...</p>
</div>
<div class="container" ng-if="loaded">
    <div class="row hidden-print" style="margin: 30px 0; color: white" ng-style="{backgroundColor: backgroundColor, color: textColor}">
        <div class="col-md-7" style="padding-left: 20px">
            <div class="h3" style="line-height: 1em" ng-if="$parent.$parent.signedIn" ng-style="{color: titleColor}">
                <interest show-id="showId"></interest>
            </div>
            <h1>{{show.name}}</h1>
            <p ng-if="::show.artist">
                <strong ng-bind="show.artist"></strong><span ng-if="show.artistLocation">, {{show.artistLocation}}</span>
            </p>
            <hr />
            <p>{{venues[show.venue].name}}</p>
            <br />
            <br />
            <p>
                <a href="https://orlandofringe.showare.com/eventperformances.asp?evt={{show.storeId}}" target="fringeshop" class="btn btn-lg btn-default" ng-if="show.storeId" >Buy Tickets</a>
            </p>
        </div>
        <div class="col-md-5" style="height: 450px; background: url('img/show/{{show.image}}') center no-repeat; background-size: cover" ng-style="{boxShadow: 'inset 20px 0 20px -6px ' + backgroundColor}"></div>
    </div>
    <div class="row visible-print-block">
        <div class="col-md-12">
            <div class="h3" style="line-height: 1em" ng-if="$parent.$parent.signedIn" ng-style="{color: titleColor}">
                <interest show-id="showId"></interest>
            </div>
            <h1>{{show.name}}</h1>
            <p ng-if="::show.artist">
                <strong ng-bind="show.artist"></strong><span ng-if="show.artistLocation">, {{show.artistLocation}}</span>
            </p>
            <hr />
            <p>{{venues[show.venue].name}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 lead">
            <div style="margin-top: 10px" ng-bind-html="trustAsHtml(show.description)"></div>
            <p ng-if="show.warnings"><br /><em class="small">Note: {{show.warnings.join(', ')}}</em></p>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <h3 style="margin-top:10px">Notes</h3>
            <p>
                <strong>Length:</strong> {{(firstPerformance.stop - firstPerformance.start) / 60}} minutes<br />
                <strong>Rating:</strong> {{ratings[show.rating]}}<br />
                <strong>Tickets:</strong> {{show.price | price}}
            </p>
            <h3>Show Times</h3>
            <ul class="list-unstyled">
                <li ng-repeat="pId in show.performances" ng-class="{'text-muted': performances[pId].start < now}">
                    {{moment(performances[pId].start, 'X').format('MMM D, h:mma')}}
                    <i ng-if="isUserAttendingPerformance(pId)" class="glyphicon glyphicon-check text-success" style="margin-left:5px"></i>
                </li>
            </ul>
        </div>
    </div>
</div>