body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

*:focus {
    outline: none;
}

main {
    padding-top: 62px;
    padding-bottom: 50px;
}

mark {
    padding: .2em 0;
}

body > footer {
    background-color: #f7f7f7;
    padding: 30px 0;
    font-size: 85%;
}

body > footer ul {
    padding-left: 0;
    margin-bottom: 1rem;
}
body > footer li {
    display: inline-block;
}

body > footer li + li {
    margin-left: 10px;
}

body > footer a {
    font-weight: 700;
    color: #495057;
}

.no-js {
    display: none;
}
body.js .js-required {
    display: initial;
}
.pointer {
    cursor: pointer !important;
    pointer-events: auto !important;
}

.navbar-primary {
    background: #337ab7;
    padding: 6px 0;
}
.offline .navbar-primary {
    background: #d9534f;
}
.navbar-primary .navbar-brand {
    color: white;
    cursor: default;
}
.navbar-primary .navbar-nav > li > a, .navbar-primary .navbar-text {
    color: rgba(255, 255, 255, 0.7);
}
.navbar-primary .navbar-brand:focus, .navbar-primary .navbar-brand:hover,
.navbar-primary .navbar-nav > li > a:focus, .navbar-primary .navbar-nav > li > a:hover {
    color: white;
    background-color: transparent;
}
.navbar-primary .navbar-nav > .active > a, .navbar-primary .navbar-nav > .active > a:focus, .navbar-primary .navbar-nav > .active > a:hover,
.navbar-primary .navbar-nav .open > a, .navbar-primary .navbar-nav .open > a:hover {
    background-color: transparent;
    font-weight: 700;
    color: white;
}
.navbar-primary .navbar-toggle .icon-bar {
    background: white;
}
.jumbotron {
    border-bottom: 1px solid #ddd;
    background: #eee url(/img/skulls.png);
    background-position-y: -30px;
}
.jumbotron .progress {
    background-color: white;
}
.jumbotron .nav-tabs > li:not(.active) > a {
    color: #7a7a7a;
    background-color: #f6f6f6;
    margin-top: 2px;
    padding-bottom: 8px;
    border: 1px solid #ddd;
    box-shadow: inset 0 -5px 15px -10px #333;
}
.jumbotron .nav-tabs > li:not(.active) > a:hover {
    color: #555;
    background-color: #f6f6f6;
    margin-top: 0;
    padding-bottom: 10px;
}
.jumbotron.has-tabs {
    box-shadow: inset 0 -5px 15px -10px #333;
    padding-bottom: 0;
}
.jumbotron .nav-tabs {
    margin-top: 48px;
    border: 0;
}
.jumbotron .nav-tabs > li > a {
    cursor: pointer;
}

.align-middle {
    vertical-align: middle !important;
}

.alert > i.glyphicon {
    margin-right: 10px;
}

.label {
    cursor: default;
}

.modal-header .nav-tabs {
    margin: 0 -15px;
}
.modal-header .nav-tabs > li:first-child {
    margin-left: 15px;
}

.modal-header .nav-tabs > li:not(.active) > a {
    color: #7a7a7a;
    background-color: #f6f6f6;
    margin-top: 2px;
    padding-bottom: 8px;
    border: 1px solid #ddd;
}
.modal-header .nav-tabs > li:not(.active) > a:hover {
    color: #555;
    background-color: #f6f6f6;
    margin-top: 0;
    padding-bottom: 10px;
}

.spinner {
    width: 60px;
    height: 60px;
    background-color: #337ab7;

    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    } 50% {
          transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
          -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
      } 100% {
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
}

.nav.nav-pills.nav-pills-condensed > li > a {
    padding: 7px 12px;
}

.popover {
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 500 !important;
    font-size: 14px !important;
}

.popover-title {
    font-weight: 700;
}

.offline .hidden-offline, .visible-offline-block {
    display: none;
}

.offline .visible-offline-block {
    display: block;
}