@font-face {
    font-family: LogoFont;
    src: url("/img/logo.ttf") format("truetype");
}
@font-face {
    font-family: FDL;
    src: url("/img/fdl.ttf") format("truetype");
}

.navbar-primary {
    background: #000;
}

.cloud-icon .glyphicon-ok {
    color: #000;
}

.spinner {
    background: #f15921;
}

.jumbotron h1, .page-home h1 {
    color: #a2238d !important;
}
.jumbotron h1 small {
    color: #fff;
    text-shadow: 1px 1px 5px #000;
}

.navbar-toggle.btn-primary {
    background: transparent;
}

.logo {
    font-family: LogoFont;
}
.navbar-brand {
    padding: 5px 15px;
    font-size: 40px;
    line-height: 1;
}

.jumbotron {
    background: #FABD8F url(/img/background.png);
}
.jumbotron h1 {
    color: #000 !important;
    font-size:100px;
    line-height: .75;
    font-family: FDL;
    text-shadow: 1px 1px 5px #fff;
}

@media (max-width: 767px) {
    .jumbotron h1 {
        font-size: 50px;
        line-height: 1;
    }
}

.fringe-level-box {
    background: rgba(255,255,255,0.6);
    border-radius: 10px;
    border: 1px solid white;
    padding: 7px 14px;
}

.jumbotron .nav-tabs {
    margin-top: 30px;
}

.jumbotron .nav-tabs > li:not(.active) > a {
    background: rgba(255,255,255,0.8);
}