<div ng-if="!generatePossible" class="container">
    <p class="lead">Hooray! Your schedule is full!</p>
    <p>It is not possible to add any more shows to <a href="#" ng-click="setPage('My Schedule')">your schedule</a>.</p>
    <p>If you don't like your schedule, you remove items and start again.</p>
</div>
<div class="container" ng-if="generatePossible">
    <p class="lead">Step 1: Choose the shows you want to see</p>
    <p ng-if="! hasSelectedShows">You haven't selected any shows you want to see yet. To add shows, use the <a href="#" ng-click="setPage('Shows')">Shows</a> screen.</p>
    <div ng-if="hasSelectedShows">
        <p>You have selected {{desiredShowCount}} shows. To add shows, use the <a href="#" ng-click="setPage('Shows')">Shows</a> screen.</p>
    </div>
    <hr />
    <p class="lead">Step 2: Select the specific showtimes you definitely going to (optional)</p>
    <div ng-if="! userData.schedule.length">
        <p>You haven't selected any showtimes. That's ok!</p>
        <p>But, if you have bought tickets to anything, make sure you go and select those on the <a href="#" ng-click="setPage('Schedule')">Schedule</a> screen. Otherwise, let's move on!</p>
    </div>
    <div ng-if="userData.schedule.length">
        <p>There are already {{userData.schedule.length}} shows on your calendar. We won't touch those. If you need to make any changes, use the <a href="#" ng-click="setPage('Schedule')">Schedule</a> screen.</p>
    </div>
    <hr />
    <p class="lead">Step 3: Set your availability</p>
    <p>Select your availability on the <a href="#" ng-click="tabs.activeTab = 'My Availability'">My Availability</a> tab.</p>
    <hr />
    <p class="lead">Step 4: Generate a suggested schedule</p>
    <div>
        <p>When you click <b>Generate Schedule</b>, this tool will generate a schedule for you while doing the following:</p>
        <ol>
            <li>trying to fit as many shows in as possible</li>
            <li>ensuring you have enough time to get to every show</li>
            <li>attempting to group shows to reduce travel between locations</li>
            <li>preferring to clump shows together so you have larger blocks of time off</li>
        </ol>
        <p>You'll have an opportunity to review the schedule before it is saved.</p>
        <p><button class="btn btn-primary" ng-click="generate()">Generate Schedule</button></p>
    </div>
</div>