<div ng-if="loaded && possiblePerformanceCount === 0" class="container">
    <p class="lead">Hooray! Your schedule is full!</p>
    <p>It is not possible to add any more shows to <a href="#!/my-fringe">your schedule</a>.</p>
    <p>If you don't like your schedule, you remove items and start again.</p>
</div>
<div class="container" ng-if="loaded && possiblePerformanceCount > 0">
    <p class="lead">Step 1: Choose the shows you want to see</p>
    <p ng-if="! desiredShowCount">You haven't selected any shows you want to see yet. To add shows, use the <a href="#!/shows">Shows</a> screen.</p>
    <div ng-if="desiredShowCount">
        <p>You have selected <ng-pluralize count="desiredShowCount" when="plurals.show"></ng-pluralize>. To add shows, use the <a href="#!/shows">Shows</a> screen.</p>
    </div>
    <hr />
    <p class="lead">Step 2: Set your availability</p>
    <p>Select your availability on the <a href="#!/my-fringe/availability">My Availability</a> tab.</p>
    <hr />
    <div ng-class="{'text-muted': !desiredShowCount}">
        <p class="lead">Step 3: Generate a schedule</p>
        <p>When you click <b>Generate Schedule</b>, this tool will generate a schedule for you while doing the following:</p>
        <ol>
            <li>trying to fit as many shows in as possible</li>
            <li>ensuring you have enough time to get to every show</li>
            <li>attempting to group shows to reduce travel between locations</li>
            <!--<li>preferring to clump shows together so you have larger blocks of time off</li>-->
        </ol>
        <div ng-if="onScheduleCount > 0">
            <p>We won't touch the <ng-pluralize count="onScheduleCount" when="plurals.show"></ng-pluralize> already on your calendar, nor will we try to place 2 shows at the same time.</p>
        </div>
        <p>You'll have an opportunity to review the schedule before it is saved.</p>
        <p><button class="btn btn-primary" ng-click="generate()" ng-disabled="!desiredShowCount">Generate Schedule</button></p>
    </div>
</div>