<div class="jumbotron">
    <div class="container">
        <h1>Map</h1>
    </div>
</div>
<div class="container">
    <require-online>
        <p class="lead text-center" ng-if="! mapLoaded">Loading map...</p>
        <div class="row" ng-if="markerGroups" ng-style="{visibility: !mapLoaded ? 'hidden' : 'visible'}">
            <div class="col-sm-3 hidden-print">
                <div class="hidden-xs">
                    <map-controls></map-controls>
                </div>
                <div class="visible-xs-block panel panel-info">
                    <div class="panel-heading" ng-click="showFilters = !showFilters">
                        <i class="pull-right glyphicon" ng-class="showFilters ? 'glyphicon-collapse-down' : 'glyphicon-collapse-up'"></i>
                        Map Controls
                    </div>
                    <div class="panel-body" ng-class="! showFilters && 'collapse'">
                        <map-controls></map-controls>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div>
                    <ng-map ng-style="{height: 'calc(100vh - ' + ($parent.$parent.$parent.navHeight + 60) + 'px)'}" clickable-icons="false" fullscreen-control="false" max-zoom="20" min-zoom="7" street-view-control="false" tilt="0" map-type-control-options="{mapTypeIds: ['roadmap', 'hybrid']}">
                        <shape name="polygon"
                               paths="{{lawnPolygon}}"
                               stroke-color="#94af72"
                               stroke-opacity="1"
                               stroke-weight="1"
                               fill-color="#cbe6a3"
                               fill-opacity="0.8">
                        </shape>
                        <shape ng-repeat="line in pathLines" name="polyline"
                               path="{{line}}"
                               stroke-color="#a3ae93"
                               stroke-opacity="1"
                               stroke-weight="10">

                        </shape>
                        <marker position="current-position" icon="{url:'img/map/current-location.png', scaledSize:[24, 24]}"></marker>
                        <div ng-repeat="group in ::markerGroups">
                            <marker ng-repeat="(markerId, marker) in ::group.markers" id="{{group.id + '-' + markerId}}" position="{{::marker.position}}" title="{{::marker.title}}" icon="img/map/{{marker.icon}}.png" ng-if="isGroupVisible[group.id]" on-click="markerClick(marker, group.id, markerId)"></marker>
                        </div>
                        <info-window id="marker-info">
                            <div ng-non-bindable>
                                <p class="lead">{{markerWindow.title}}</p>
                                <address ng-if="markerWindow.location || markerWindow.address">
                                    <strong ng-if="markerWindow.location">{{markerWindow.location}}<br></strong>
                                    <span ng-if="markerWindow.address">
                                    {{markerWindow.address[0]}}<br>
                                    {{markerWindow.address[1]}}
                                    </span>
                                </address>
                                <p ng-if="markerWindow.notes">{{markerWindow.notes}}</p>
                                <p ng-if="markerWindow.venue || markerWindow.address">
                                    <a class="btn btn-default btn-sm" ng-if="markerWindow.venue" style="margin-right:6px" href="/shows/venue/{{markerWindow.venue}}">Shows</a>
                                    <a class="btn btn-default btn-sm" ng-if="markerWindow.address" href="https://www.google.com/maps/dir/?api=1&destination={{markerWindow.location}}, {{markerWindow.address.join(', ')}}" target="_blank">Directions</a>
                                </p>
                            </div>
                        </info-window>
                    </ng-map>
                </div>
            </div>
        </div>
    </require-online>
</div>
<breadcrumbs items="[['map', 'Map']]"></breadcrumbs>
