<div class="container" ng-if="! schedule">
    <p class="text-center lead" style="margin-top: 100px">Loading...</p>
</div>
<div class="container" ng-if="schedule">
    <div class="page-header">
        <a href="/" class="btn btn-primary pull-right" analytics-on analytics-event="Click" analytics-category="Public Schedule" analytics-label="Top Advertisement">Automatically create your own Fringe schedule for free!</a>
        <h1>{{title}}</h1>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Show</th>
            <th>Venue</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="pId in sortedPerformances" ng-if="schedule.indexOf(pId) > -1" ng-init="performance = performances[pId]; show = shows[performance.show]; venue = venues[show.venue];">
            <td>{{moment(performance.start, 'X').format('ddd, MMM D')}}</td>
            <td>{{moment(performance.start, 'X').format('h:mma')}}</td>
            <th><a href="/show/{{show.slug}}">{{show.name}}</a></th>
            <td>{{venue.name}}</td>
        </tr>
        </tbody>
    </table>
    <br />
    <br />
    <p class="text-center">
        <a href="/" class="btn btn-primary btn-lg" analytics-on analytics-event="Click" analytics-category="Public Schedule" analytics-label="Bottom Advertisement">Automatically create your own Fringe schedule for free!</a>
    </p>
</div>