<div class="modal-header">
    <h3 class="modal-title hidden-xs">
        {{moment(slotStart, 'X').format('ddd, MMM Do h:mma')}} - {{moment(slotStop, 'X').format('h:mma')}}
    </h3>
    <h3 class="modal-title visible-xs">
        {{moment(slotStart, 'X').format('ddd, MMM Do')}}
        <small>{{moment(slotStart, 'X').format('h:mma')}} - {{moment(slotStop, 'X').format('h:mma')}}</small>
    </h3>
</div>
<div class="modal-body">
    <table class="table">
        <thead>
        <tr>
            <th class="hidden-xs">Time</th>
            <th>Show</th>
            <th class="hidden-xs">Venue</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="performanceId in slotPerformances" ng-init="performance = performances[performanceId]">
            <td nowrap class="hidden-xs">{{moment(performance.start, 'X').format('h:mma')}} - {{moment(performance.stop, 'X').format('h:mma')}}</td>
            <td>
                <strong><a href="/show/{{shows[performance.show].slug}}">{{shows[performance.show].name}}</a></strong>
                <div class="visible-xs">
                    <p class="small">{{moment(performance.start, 'X').format('h:mma')}} - {{moment(performance.stop, 'X').format('h:mma')}}</p>
                    <p class="small text-muted">{{venues[shows[performance.show].venue].name}}</p>
                </div>
            </td>
            <td class="hidden-xs">
                <span class="label label-venue-default label-venue-{{shows[performance.show].venue}}">
                    {{venues[shows[performance.show].venue].name}}
                </span>
            </td>
            <td>
                <button class="btn btn-xs btn-danger" ng-click="remove(performanceId)" bs-tooltip="{title: 'Remove'}">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
</div>