<div class="modal-header">
    <h3 class="modal-title">Google Calendar Sync</h3>
</div>

<div ng-show="! hasPermission">
    <div class="modal-body">
        <p>We can copy your schedule to your Google calendar and keep it updated automatically. You can use this to view your Fringe schedule on your phone and get reminders.</p>
        <p>All you need to do to get started is give us access to your calendar.</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="close()">Close</button>
        <button class="btn btn-primary" type="button" ng-click="requestPermission()">Continue</button>
    </div>
</div>

<div ng-show="hasPermission && ! isSetup">
    <div class="modal-body">
        <p class="lead">Which calendar should we copy your schedule to?</p>
        <div ng-if="! primaryCalendar">
            <p>Loading...</p>
        </div>
        <div ng-if="primaryCalendar">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="setupConfig.target" name="setupTarget" value="primary">
                    Primary calendar (recommended)
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="setupConfig.target" name="setupTarget" value="secondary">
                    Another calendar
                </label>
            </div>

            <blockquote style="font-size: 100%" ng-show="setupConfig.target == 'secondary'">
                <div class="radio">
                    <label style="width:100%">
                        <input type="radio" ng-model="setupConfig.secondary" name="secondaryCalendar" value="NEW">
                        Create a new calendar:
                        <input type="text" ng-model="setupConfig.secondaryName" class="form-control" style="margin:5px 0" placeholder="New calendar name">
                    </label>
                </div>
                <div ng-show="secondaryCalendars.length">
                    <p>or select an existing calendar:</p>
                    <div class="radio" ng-repeat="calendar in secondaryCalendars">
                        <label>
                            <input type="radio" ng-model="setupConfig.secondary" name="secondaryCalendar" value="{{calendar.id}}">
                            {{calendar.name}}
                        </label>
                    </div>
                </div>
            </blockquote>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="close()" ng-disabled="working">Close</button>
        <button class="btn btn-primary" type="button" ng-click="setup()" ng-disabled="! primaryCalendar || (setupConfig.secondary=='NEW' && ! setupConfig.secondaryName.length)">Continue</button>
    </div>
</div>

<div ng-show="isSetup && isSyncing">
    <div class="modal-body" ng-show="! max">
        <p class="lead">Setting up sync...</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped active" style="width: 100%"></div>
        </div>
    </div>
    <div class="modal-body" ng-show="max">
        <p class="lead">Copying schedule for the first time...</p>
        <uib-progressbar max="max" value="progress" animate="true" type="primary"></uib-progressbar>
    </div>
</div>

<div ng-show="isSetup && ! isSyncing && turnOffScreen">
    <div class="modal-body">
        <p class="lead">Turn Google Calendar Sync off?</p>
        <p>If you turn Google Calendar Sync off:</p>
        <ul>
            <li>your Google calendar will not be updated automatically</li>
            <li>shows previously synced to your calendar will not be removed</li>
            <li>you can turn it back on again later</li>
        </ul>
        <br>
        <p class="text-center">
            <button ng-click="turnOffScreen = false" class="btn btn-success btn-lg">Keep it on</button><br>
            <button ng-click="turnOff(); turnOffScreen = false" class="btn btn-danger" style="margin-top: 10px">Turn it off</button>
        </p>
    </div>
</div>

<div ng-show="isSetup && ! isSyncing && ! turnOffScreen">
    <div class="modal-body">
        <p class="lead">Google Calendar Sync is turned on.</p>
        <p>Any time you add or remove a show from your schedule, your Google calendar will be updated automatically.</p>
        <br>
        <p class="text-center">
            <a href="{{calendarUrl}}" target="_blank" class="btn btn-primary btn-lg" analytics-on analytics-event="Click" analytics-category="Google Calendar Sync Modal" analytics-label="Open Google Calendar">Open Google Calendar</a>
        </p>
        <br>
        <p>If you have an Android device, you can see your calendar in the Google Calendar app. It may take a few moments for changes to appear.</p>
        <br>
        <p><strong>Useful links:</strong></p>
        <ul>
            <li><a href="https://support.google.com/calendar/answer/151674?co=GENIE.Platform%3DAndroid&hl=en&oco=0" target="_blank">Sync Calendar with iPhone or iPad</a></li>
            <li><a href="https://support.google.com/calendar/answer/99358" target="_blank">See Google Calendar events on Apple Calendar</a></li>
            <li><a href="https://support.google.com/calendar/answer/37648?hl=en&ref_topic=3417927" target="_blank">Sync your calendar with computer programs</a></li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default pull-left" type="button" ng-click="turnOffScreen = true">Turn Off</button>
        <button class="btn btn-primary" type="button" ng-click="close()">Close</button>
    </div>
</div>