.label-venue-default {
    color: #fff;
    text-shadow: 0 0 1px #000;
}
.label-venue-angel-statue,
.label-venue-van-in-front-of-shakespeare-center,
.label-venue-front-of-rep,
.label-venue-loch-haven-park-trees,
.label-venue-breakthrough-theatre-of-winter-park,
.label-venue-savoy-orlando,
.label-venue-in-front-of-oma {
    border: 1px solid #000;
    color: #000;
    text-shadow: none;
}
.label-venue-rainbow {
    background: #40cdbd;
    background: -webkit-linear-gradient(left, red, orange , yellow, green, blue, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, red, orange, yellow, green, blue, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, red, orange, yellow, green, blue, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, red, orange , yellow, green, blue, violet); /* Standard syntax (must be last) */
    color: #fff;
    text-shadow: 0 0 1px #000;
}
.label-venue-orange {
    background: #f15922;
}
.label-venue-pink {
    background: #ff69b4;
    text-shadow: 0 0 1px #000;
}
.label-venue-silver {
    background: #c0c0c0;
    background: radial-gradient(ellipse farthest-corner at right bottom, #ada996 0%, #f2f2f2 8%, #dbdbdb 30%, #eaeaea 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #ada996 0%, #f2f2f2 25%, #dbdbdb 62.5%, #eaeaea 100%);
    color: black;
    text-shadow: none;
}
.label-venue-brown {
    background: #8b4513;
}
.label-venue-yellow {
    background: #ebeb00;
    color: black;
    text-shadow: none;
}
.label-venue-purple {
    background: #a2238d;
}
.label-venue-blue {
    background: #0000cd;
}
.label-venue-womens-restroom-by-blue {
    border: 1px solid #0000cd;
    text-shadow: none;
    color: #0000cd;
}
.label-venue-red {
    background: #cc0000;
}
.label-venue-black {
    background: black;
}
.label-venue-gold {
    background: #b8860b;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    text-shadow: 0 0 1px #000;
}
.label-venue-green {
    background: #7cfc00;
    color: black;
    text-shadow: none;
}

.rating-icon {
    margin-right: 3px;
}

#google-sign-in-button > div {
    margin: auto;
}

.month-day-picker table {
    cursor: pointer;
}
.month-day-picker th, .month-day-picker td {
    text-align: center;
}
.month-day-picker th:first-child, .month-day-picker td:first-child,
.month-day-picker th:last-child, .month-day-picker td:last-child
{
    background-color: #f9f9f9;
}
.month-day-picker td.allowed:not(.active) {
    cursor: pointer;
}
.month-day-picker td:not(.allowed) {
    color: #ddd;
}
.month-day-picker td.today {
    background-color: #d9edf7 !important;
    color: #bbb !important;
}

.month-day-picker td.active {
    background-color: #337ab7 !important;
    color: rgba(255, 255, 255, 0.7);
    color: white;
}
.month-day-picker td.allowed:not(.active):hover {
    background-color: #3397d4 !important;
    color: rgba(255, 255, 255, 0.7);
}